{% load static %}
{% for missao in missoes %}
    <div class="modal" tabindex="-1" role="dialog" id="add-relatorio-modal-{{ missao.pk }}">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Novo relatório</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-center"> Missão selecionada: {{ missao.titulo }}</p>
                    <form id="add-relatorio-form" method="POST", action="">
                        {% csrf_token %}
                        <div class="formulario_misssao">
                            {% for field in relatorio_form %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                            {% endfor %}
                        </div>
                        <input type="submit" class="btn btn-primary botao_enviar"></input>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
