<div class="dash_card_container">
    {% for card in cards %}
        <a class="dash_card_container_statistics" href="{{ card.url_da_tabela }}">
            <div class="small-box {{ card.badge }}">
                <div class="outer">
                    <div class="inner">
                        <h3 class="small-box_title">{{ card.title }}</h3>
                        <img class="card_image" src="{{ card.url_do_icone }}" alt="Image">
                    </div>
                    <div class="create_new_element_container">
                        <a class="create_new_element" href="{{ card.novo_elemento }}">
                            {% if card.title != 'Relatórios'%}
                                Adicionar {{ card.title_novo_elemento }} 
                                <i class="fas fa-arrow-circle-right"></i>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>