{% load static %}

<div class="dash_card_container">

    {% for card in dashboard_cards %}
        <div class="small-box {{ card.color }}">
            <div class="outer">
                <div class="inner">
                    <div class="inner_title_image">
                        <span class="inner_title">{{ card.title }}</span>
                        <img class="dashboard_card_image" src="{{ card.url_do_icone }}" alt="Image">
                    </div>
                    
                    {% if card.type == "completo" %}
                        <div class="display_dashboard_results">
                            <div class="display_dashboard_result_title">
                                {{ card.parametro }}
                            </div>
                            <div class="display_dashboard_result_number">
                                {{ card.valor }}
                            </div>
                        </div>
                    {% else %}
                        <div class="display_dashboard_results">
                            <div class="display_dashboard_result_number">
                                {{ card.valor }}
                            </div>
                        </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    {% endfor %}

</div>

<div class="graph_title">
    <label for="year-select">Selecione o ano:</label>
    <select id="year-select" class="form-select" onchange="updateYearData()">
        <option value="2023">2023</option>
        <option value="2022">2022</option>
    </select>
</div>

<div class="dashboard_graphics">
    <canvas class="dashboard_bar_graph" id="myChart1"></canvas>
    <canvas class="dashboard_bar_graph" id="myChart2"></canvas>
</div>
