{% load static %}

<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">Efetivo</h3>
  </div>

  {% comment %} <div class="col-sm-12 col-md-6 mt-3 ml-3">
    <div class="dt-buttons btn-group flex-wrap">
      <div class="btn-group">
        <button class="btn btn-secondary buttons-collection dropdown-toggle buttons-page-length" tabindex="0"
          aria-controls="objects_list" type="button" aria-haspopup="true">
          <span>Mostrar 10 registros</span>
        </button>
      </div>
      <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="objects_list"
        type="button" id="pdf-button">
        <span>PDF</span>
      </button>
      <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="objects_list"
        type="button" id="excel-button">
        <span>Excel</span>
      </button>
      <div class="btn-group">
        <button class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis" tabindex="0"
          aria-controls="objects_list" type="button" aria-haspopup="true" aria-expanded="false">
          <span>Visibilidade da Coluna</span>
        </button>
      </div>
    </div>
  </div> {% endcomment %}

  <div class="card-body">
    <div id="objects_list_wrapper" class="dataTables_wrapper dt-bootstrap4">
      <table id="objects_list" class="table table-bordered table-striped dataTable dtr-inline" role="grid"
        aria-describedby="objects_list_info" width="100%">
        <thead>
          <tr>
            <th>id</th>
            <th>Patente</th>
            <th>Matricula</th>
            <th>Nome Guerra</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Situação</th>
            <th>Unidade</th>
            {% comment %} <th>Ações</th> {% endcomment %}
          </tr>
        </thead>
      </table>

      {% comment %} <table id="objects_list" class="table table-bordered table-striped dataTable dtr-inline" role="grid"
        aria-describedby="objects_list_info" width="100%">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Matrícula</th>
            <th scope="col">Horas/voo</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for militar in militares %}
            <tr>
              <td>{{ militar.nome_de_guerra }}</td>
              <td>{{ militar.matricula }}</td>
              <td>{{ militar.total_de_horas_voo }}</td>

              <td>
                <div class="btn-group" style="display: flex; align-items: center; align-content: center;">
                  <button type="button" class="btn btn-outline-info dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                  Filtros
                  </button>
                  <div class="dropdown-menu" role="menu" style="">
                      <a class="dropdown-item" href="{% url 'rpa_manager:ver_efetivo' militar.id %}">Ver militar</a>
                      <a class="dropdown-item" href="{% url 'rpa_manager:editar_efetivo' militar.id %}">Editar militar</a>
                      <a class="dropdown-item" href="{% url 'rpa_manager:deletar_efetivo' militar.id %}">Excluir militar</a>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}

        </tbody>
      </table> {% endcomment %}
    </div>

    <div style="width: 10rem">
      <a href="{% url 'rpa_manager:criar_novo_militar' %}">
        <button type="button" style="display: inline" class="btn btn-block btn-primary mt-3"><i class="fa fa-plus"></i> Nova militar </button>
      </a>
    </div>

  </div>
</div>