{% load static %}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Baterias</h3>
    </div>

    <div class="card-body">
        <div id="objects_list_wrapper" class="dataTables_wrapper dt-bootstrap4" >
            <table id="table_baterias" class="table table_baterias">
                <thead class="tabela_cabecalho">
                    <tr>
                        <th scope="col">Numereção</th>
                        <th scope="col">Número de ciclos</th>
                        <th scope="col">Limite de ciclos</th>
                        <th scope="col">Em uso na aeronave</th>
                        <th scope="col">Ações</th>

                    </tr>
                </thead>
                <tbody>
                    {% for bateria in baterias %}
                        <tr>
                            <td {% if bateria.id in ids_baterias_nivel_critico %} class="critical_value"{% endif %}>
                                    <span> {{ bateria.numeracao }} </span>
                            </td>
                            <td>{{ bateria.num_ciclos }}</td>
                            <td>{{ bateria.ciclos_maximo }}</td>
                            <td>{{ bateria.aeronave }}</td>

                            <td>
                                <div class="actions_buttons">
                                    <a href="{% url 'controle:ver_bateria' bateria.id %}" class="card_title" type="button" class="btn btn-primary">
                                        <div class="ver_relatorio"><i class="fas fa-eye"></i></div>
                                    </a>
                                    <div class="editar_missao">
                                        <a href="{% url 'controle:editar_bateria' bateria.id %}">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                    </div>
                                    <div class="deletar_missao">
                                        <a href="{% url 'controle:deletar_bateria' bateria.id %}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
</div>



