{% load static %}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Missões</h3>
    </div>
    <div class="card-body">
        <div id="objects_list_wrapper" class="dataTables_wrapper dt-bootstrap4" >
            
            <table id="table_missoes" class="table table_missoes">
                <thead class="tabela_cabecalho">
                    <tr>
                        <th scope="col">Militar</th>
                        <th scope="col">Missão</th>
                        <th scope="col">Data</th>
                        <th scope="col">Aeronave</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for missao in missoes %}
                        <tr> 
                                <td>{{ missao.usuario.first_name }} {{ missao.usuario.last_name }}</td>
                                <td>{{ missao.titulo }}</td>
                                <td data-sort='YYYYMMDD'>{{ missao.data | date:"d/m/Y" }}</td>
                                <td>{{ missao.aeronave.prefixo}} - {{ missao.aeronave.modelo}}</td>
                                <td>
                                    {% if missao.concluida is True %}
                                        <span class="badge badge-success">Encerrada</span> 
                                    {% else %}
                                    
                                    {% comment %} data-toggle="modal" data-target="#add-relatorio-modal-{{ missao.pk }}" {% endcomment %}
                                        <span class="badge badge-warning">Em andamento</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="actions_buttons">
                                        <a href="{% url 'controle:ver_missao' missao.id %}" class="card_title" type="button" class="btn btn-primary">
                                            <div class="ver_relatorio"><i class="fas fa-eye icon"></i></div>
                                        </a>
                                        {% if missao.concluida is True %}
                                            <div class="finalizar_missao"><i class="fa-solid fa-flag-checkered icon"></i></div>
                                            <div class="editar_missao"><i class="fa-solid fa-pen-to-square icon"></i></div>
                                            <div class="deletar_missao"><i class="fa fa-trash icon" aria-hidden="true"></i></div>
                                            
                                        {% else %}
                                            <a href="{% url 'controle:criar_novo_relatorio' missao.id %}" class="card_title" type="button" class="btn btn-primary" >
                                                <div class="finalizar_missao"><i class="fa-solid fa-flag-checkered icon"></i></div>
                                            </a>
                                            <div class="editar_missao">
                                                <a href="{% url 'controle:editar_missao' missao.id %}">
                                                    <i class="fa-solid fa-pen-to-square icon"></i>
                                                </a>
                                            </div>
                                            <div class="deletar_missao">
                                                <a href="{% url 'controle:deletar_missao' missao.id %}">
                                                    <i class="fa fa-trash icon" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        {% endif %}
                                            
                                    </div>
                                </td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
</div>
