{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_links %} <title>Login | BACINF</title> {% endblock %}

{% block head_title %}{% trans "Sign In" %} {% endblock %}

{% block content %}
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-olive">
      <div class="card-header text-center">
        <div class="text-center">
          <img src="{% static 'sti/img/pmpb_128.png' %}" alt="Brasão PMPB"/>
        </div>
        <hr>
        <a href="{% url 'base:index' %}" class="h1"><b>BACINF</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Clique no botão abaixo para se autenticar em nossos sistemas</p>
        <div class="social-auth-links text-center mt-2 mb-3">
          {% load account socialaccount %}
          {% get_providers as socialaccount_providers %}
          {% for provider in socialaccount_providers %}
            <form method="POST" action="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-block btn-primary">
                <i class="fas fa-sign-in-alt mr-2"></i> Entrar
              </button>
            </form>
          {% endfor %}
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
{% endblock %}
