{% extends "base/base.html" %}
{% load static %}

<!-- styles -->
{% block style_sheet %}
    {% comment %} bacinf style_sheet {% endcomment %}

{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Deletar incidente {% endblock %}

<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'rpa:incidentes' %}">Incidentes</a></li>
  <li class="breadcrumb-item active">Deletar incidente</li>
{% endblock %}

<!-- main container -->
{% block content %}
  <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Deletar <strong>{{ object.operation }}</strong> </h3>
      </div>
      <form class="p-3" method='post'>
        {% csrf_token %}
        <p>Tem certeza que dejesar excluir?  <strong>{{ object }}</strong>?</p>
        <div class="mt-3">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <a href="{{ request.META.HTTP_REFERER }}"> 
            <button type="button" class="btn btn-warning">Cancelar</button>
          </a>
        </div>
      </form>          
  </div>
{% endblock content %}

<!-- javascripts -->
{% block js %}
    <!-- DataTables  & Plugins -->

{% endblock %}