{% extends "base/base.html" %}
{% load static %}

<!-- styles -->
{% block style_sheet %}
  {% comment %} bacinf style_sheet {% endcomment %}
  <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
  <style>
    .detail_report {
      display: flex;
      gap: 10px;
    }
    .report_details_card {
      width: 400px;
    }
    .detail_report_map {
      height: 800px;
    }
    .mapBehaviorWhenError {
      border: 1px solid black;
    }
    @media (max-width: 768px) {
      .detail_report {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        width: 100%;
      }
      .detail_report_map {
        height: 300px;
      }
    }
  </style>
{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Ver Operação {% endblock %}

<!-- context title -->
{% block title-header %} Ver Operação {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'rpa:principal' %}">Operações</a></li>
  <li class="breadcrumb-item active">Dados operação</li>
{% endblock %}

<!-- main container -->
{% block content %}

<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">Dados da operação</h3>
  </div> 

  <div class="detail_report">
    <div class="card card-primary col-md-4 mt-3">

      <div class="card-body">
        <strong>Título: </strong> {{ missao.title }} 
        <hr>
        <strong>Piloto remoto: </strong> {{ missao.user.military }}
        <hr>
        <strong>Piloto Observador: </strong> 
          {% if observer_pilot == None %}
            sem registro
          {% else %}
            {{ missao.observer_pilot }}
          {% endif %}
        <hr>
        <strong>Quem autorizou: </strong> {{ missao.who_authorized }}
        <hr>
        <strong>Quem solicitou: </strong> {{ missao.who_requested }}
        <hr>
        <strong>Local: </strong> {{ missao.location }}
        <hr>
        <strong>Coordenadas: </strong> 
        {{ missao.latitude |stringformat:"s" }},{{ missao.longitude |stringformat:"s" }}
        <hr>
        <strong>Horário: </strong> {{ missao.time }}
        <hr>
        <strong>Data: </strong> {{ missao.date }}
        <hr>
        <strong>Aeronave: </strong> {{ missao.aircraft }}
        <hr>
        <strong>Conclusão: </strong> 
          {% if missao.completed is True %}
              <span class="badge badge-success">Encerrada</span>
            {% else %}
              <span class="badge badge-warning">Em andamento</span>
          {% endif %}
        <hr>
      </div>
    </div>
    
    <div class="col-md-8">
      <div id="map" class="detail_report_map mt-3 mr-3"><h3 id="errorMessage"></h3></div>
    </div>
</div>
{% endblock content %}

<!-- javascripts -->
{% block js %}
  <!-- DataTables  & Plugins -->
  <script src="{% static 'leaflet/leaflet.js' %}"></script>
  <script>
		document.addEventListener('DOMContentLoaded', function () {
      var latitude = {{ missao.latitude | safe }}
      var longitude = {{ missao.longitude | safe }}
     
      let map = L.map('map').setView([latitude, longitude], 16);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);
      
      let marker = L.marker([latitude, longitude]).addTo(map);
    });
  </script>
{% endblock %}