{% extends "base/base.html" %}
{% load static crispy_forms_tags widget_tweaks %}


<!-- browser title -->
{% block title %} Horário de funcionamento{% endblock %}

<!-- styles -->
{% block style_sheet %}

{% endblock %}


{% block title-header %} Pontos de Interesse {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'point_interest:index' %}">Painel</a></li>
<li class="breadcrumb-item"><a>Horário de funcionamento</a></li>
{% endblock %}

{% block content %}

<div class="callout callout-info">
    <h3 class="text-info"><i class="fas fa-bullhorn"></i> Sobre horário de funcionamento</h3>
    <p class="text-muted text-justify px-3 pt-2">
        <b>Essa tela permite a configuração do horário de abertura e encerramento da ativadade de um ponto, da seguinte maneira:</b>
        <br>- Selecione primeiramente se no dia da semana o ponto é aberto;
        <br>- Selecione os horários de abertura e encerramento das atividades para o cada dia.
        <br><br> Através dos atalhos de autopreenchimento é possível preencher automaticamente os dias da semana com o horário desejado, da seguinte maneira:
        <br>- Selecione os horários de abertura e encerramento das atividades;
        <br>- Na coluna de autopreenchimento clique na opção desejada.
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Adicionar horário de funcionamento</h3>
            </div>
        <form class="p-3" method='post' enctype="multipart/form-data">
            {% csrf_token %}
            

            <div class="card-body">
                <div id="objects_list_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="table-responsive">
                        <table id="objects_list" class="table table-bordered table-striped responsive dataTable dtr-inline"
                            role="grid" aria-describedby="objects_list_info" width="100%">
                            <thead>
                                <tr>
                                    <th>Dia da semana</th>
                                    <th>Aberto</th>
                                    <th>Horário de abertura</th>
                                    <th>Horário de encerramento</th>
                                </tr>
                            </thead>
                            
                            <tboby>
                                <tr>
                                    <td> Segunda-feira </td>
                                    <td><div id="opened_monday">{{form.opened_mon|add_class:"form-control"|as_crispy_field}}</div></td>
                                    <td><div id="monday_open">{{form.open_time_mon|add_class:"form-control"|as_crispy_field}}</div></td>
                                    <td><div id="monday_close">{{form.close_time_mon|add_class:"form-control"|as_crispy_field}}</div></td>
                                </tr>
                                <tr>
                                    <td> Terça-feira </td>
                                    <td><div id="opened_tuesday">{{form.opened_tue|add_class:"form-control"|as_crispy_field}}</div></td>
                                    <td><div id="tuesday_open">{{form.open_time_tue|add_class:"form-control"|as_crispy_field}}</div></td>
                                    <td><div id="tuesday_close">{{form.close_time_tue|add_class:"form-control"|as_crispy_field}}</div></td>
                                </tr>
                                <tr>
                                    <td> Quarta-feira </td>
                                    <td><div id="opened_wednesday">{{form.opened_wed|add_class:"form-control"|as_crispy_field}}</div></td>
                                    <td><div id="wednesday_open">{{form.open_time_wed|add_class:"form-control"|as_crispy_field}}</div></td>
                                    <td><div id="wednesday_close">{{form.close_time_wed|add_class:"form-control"|as_crispy_field}}</div></td>
                                </tr>
                                <tr>
                                    <td> Quinta-feira </td>
                                    <td><div id="opened_thursday">{{form.opened_thu|add_class:"form-control"|as_crispy_field}}</div></td>
                                    <td><div id="thursday_open">{{form.open_time_thu|add_class:"form-control"|as_crispy_field}}</div></td>
                                    <td><div id="thursday_close">{{form.close_time_thu|add_class:"form-control"|as_crispy_field}}</div></td>
                                </tr>
                                <tr>
                                    <td> Sexta-feira </td>
                                    <td><div id="opened_friday">{{form.opened_fri|add_class:"form-control"|as_crispy_field}}</div></td>
                                    <td><div id="friday_open">{{form.open_time_fri|add_class:"form-control"|as_crispy_field}}</div></td>
                                    <td><div id="friday_close">{{form.close_time_fri|add_class:"form-control"|as_crispy_field}}</div></td>
                                </tr>
                                <tr>
                                    <td> Sábado </td>
                                    <td><div id="opened_saturday">{{form.opened_sat|add_class:"form-control"|as_crispy_field}}</div></td>
                                    <td><div id="saturday_open">{{form.open_time_sat|add_class:"form-control"|as_crispy_field}}</div></td>
                                    <td><div id="saturday_close">{{form.close_time_sat|add_class:"form-control"|as_crispy_field}}</div></td>
                                </tr>
                                <tr>
                                    <td> Domingo </td>
                                    <td><div id="opened_sunday">{{form.opened_sun|add_class:"form-control"|as_crispy_field}}</div></td>
                                    <td><div id="sunday_open">{{form.open_time_sun|add_class:"form-control"|as_crispy_field}}</div></td>
                                    <td><div id="sunday_close">{{form.close_time_sun|add_class:"form-control"|as_crispy_field}}</div></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>

        
                </div>
            </div>

            <div class="card-body">
                <div id="objects_list_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="table-responsive">
                        <table id="objects_list" class="table table-bordered table-striped responsive dataTable dtr-inline"
                            role="grid" aria-describedby="objects_list_info" width="100%">
                            <thead>
                                <tr>
                                    <th>Horário de abertura</th>
                                    <th>Horário de encarramento</th>
                                    <th colspan="3">Autopreenchimento</th>
                                </tr>
                            </thead>
                            
                            <tboby>
                                <tr>
                                    <td><input type="time" id="start_time" name="start_time" class="form-control"></td>
                                    <td><input type="time" id="end_time" name="end_time" class="form-control"></td>
                                    <td>
                                        <div id="button2">
                                            <button type="button" class="btn btn-outline-primary" id="Button1">
                                                <i class=""></i>
                                                Segunda a Sexta
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div id="button2">
                                            <button type="button" class="btn btn-outline-primary" id="Button2">
                                                <i class=""></i>
                                                Segunda a Sábado
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div id="button3">
                                            <button type="button" class="btn btn-outline-primary" id="Button3">
                                                <i class=""></i>
                                                Segunda a Domingo
                                            </button>
                                        </div>
                                    </td>
                                    
                                </tr>

                            </tbody>

                        </table>
                    </div>


        
                </div>
            </div>



            
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="{% url 'point_interest:spot_detail' spot_pk %}">
                    <button type="button" class="btn btn-warning">
                        <i class=""></i>
                        Voltar
                    </button>
                </a>
            </div>
        </form>
    </div>
</div>





{% endblock %}
<!-- javascripts -->
{% block js %}
<script src="{% static 'adminlte-3.1.0/plugins/inputmask/jquery.inputmask.min.js' %}"></script>
<script>
    $(document).ready(function() {
      $("#id_open_time_mon").inputmask("99:99");
      $("#id_close_time_mon").inputmask("99:99");
      $("#id_open_time_tue").inputmask("99:99");
      $("#id_close_time_tue").inputmask("99:99");
      $("#id_open_time_wed").inputmask("99:99");
      $("#id_close_time_wed").inputmask("99:99");
      $("#id_open_time_thu").inputmask("99:99");
      $("#id_close_time_thu").inputmask("99:99");
      $("#id_open_time_fri").inputmask("99:99");
      $("#id_close_time_fri").inputmask("99:99");
      $("#id_open_time_sat").inputmask("99:99");
      $("#id_close_time_sat").inputmask("99:99");
      $("#id_open_time_sun").inputmask("99:99");
      $("#id_close_time_sun").inputmask("99:99");
    });
</script>
<script>
    $(document).ready(function() {

        const button1 = document.querySelector('#Button1');
        const button2 = document.querySelector('#Button2');
        const button3 = document.querySelector('#Button3');
        const open_time = document.getElementById('start_time');
        const close_time = document.getElementById('end_time');
        const openedMondayField = document.getElementById('id_opened_mon');
        const openTimeMondayField = document.getElementById('id_open_time_mon');
        const closeTimeMondayField = document.getElementById('id_close_time_mon');
        const openedTuesdayField = document.getElementById('id_opened_tue');
        const openTimeTuesdayField = document.getElementById('id_open_time_tue');
        const closeTimeTuesdayField = document.getElementById('id_close_time_tue');
        const openedWednesdayField = document.getElementById('id_opened_wed');
        const openTimeWednesdayField = document.getElementById('id_open_time_wed');
        const closeTimeWednesdayField = document.getElementById('id_close_time_wed');
        const openedThursdayField = document.getElementById('id_opened_thu');
        const openTimeThursdayField = document.getElementById('id_open_time_thu');
        const closeTimeThursdayField = document.getElementById('id_close_time_thu');
        const openedFridayField = document.getElementById('id_opened_fri');
        const openTimeFridayField = document.getElementById('id_open_time_fri');
        const closeTimeFridayField = document.getElementById('id_close_time_fri');
        const openedSaturdayField = document.getElementById('id_opened_sat');
        const openTimeSaturdayField = document.getElementById('id_open_time_sat');
        const closeTimeSaturdayField = document.getElementById('id_close_time_sat');
        const openedSundayField = document.getElementById('id_opened_sun');
        const openTimeSundayField = document.getElementById('id_open_time_sun');
        const closeTimeSundayField = document.getElementById('id_close_time_sun');

        function update_seg_sex() {
            openedMondayField.value = 'True'
            openTimeMondayField.hidden = false;
            closeTimeMondayField.hidden = false;
            openTimeMondayField.value = open_time.value;
            closeTimeMondayField.value = close_time.value;
            openedTuesdayField.value = 'True'
            openTimeTuesdayField.hidden = false;
            closeTimeTuesdayField.hidden = false;
            openTimeTuesdayField.value = open_time.value;
            closeTimeTuesdayField.value = close_time.value; 
            openedWednesdayField.value = 'True'
            openTimeWednesdayField.hidden = false;
            closeTimeWednesdayField.hidden = false;
            openTimeWednesdayField.value = open_time.value;
            closeTimeWednesdayField.value = close_time.value; 
            openedThursdayField.value = 'True'
            openTimeThursdayField.hidden = false;
            closeTimeThursdayField.hidden = false;
            openTimeThursdayField.value = open_time.value;
            closeTimeThursdayField.value = close_time.value; 
            openedFridayField.value = 'True'
            openTimeFridayField.hidden = false;
            closeTimeFridayField.hidden = false;
            openTimeFridayField.value = open_time.value;
            closeTimeFridayField.value = close_time.value;
            openTimeSaturdayField.value = '',
            closeTimeSaturdayField.value = '',
            openTimeSundayField.value = '';
            closeTimeSundayField.value = ''; 
        }
        function update_sat() {
            openedSaturdayField.value = 'True'
            openTimeSaturdayField.hidden = false;
            closeTimeSaturdayField.hidden = false;
            openTimeSaturdayField.value = open_time.value;
            closeTimeSaturdayField.value = close_time.value;
            openTimeSundayField.value = '';
            closeTimeSundayField.value = '';  
        }
        function update_sun() {
            openedSundayField.value = 'True'
            openTimeSundayField.hidden = false;
            closeTimeSundayField.hidden = false;
            openTimeSundayField.value = open_time.value;
            closeTimeSundayField.value = close_time.value;  
        }
        function hide_fields(){
            if (openedMondayField.value === 'False') {
                openTimeMondayField.hidden = true;
                closeTimeMondayField.hidden = true;
            }
            if (openedTuesdayField.value === 'False') {
                openTimeTuesdayField.hidden = true;
                closeTimeTuesdayField.hidden = true;
            }
            if (openedWednesdayField.value === 'False') {
                openTimeWednesdayField.hidden = true;
                closeTimeWednesdayField.hidden = true;
            }
            if (openedThursdayField.value === 'False') {
                openTimeThursdayField.hidden = true;
                closeTimeThursdayField.hidden = true;
            }
            if (openedFridayField.value === 'False') {
                openTimeFridayField.hidden = true;
                closeTimeFridayField.hidden = true;
            }
            if (openedSaturdayField.value === 'False') {
                openTimeSaturdayField.hidden = true;
                closeTimeSaturdayField.hidden = true;
            }
            if (openedSundayField.value === 'False') {
                openTimeSundayField.hidden = true;
                closeTimeSundayField.hidden = true;
            }
        }

        hide_fields();

        openedMondayField.addEventListener('change', function() {
            if (openedMondayField.value === 'True') {
                openTimeMondayField.hidden = false;
                closeTimeMondayField.hidden = false;
            } else {
                openTimeMondayField.value = '';
                closeTimeMondayField.value = '';
                openTimeMondayField.hidden = true;
                closeTimeMondayField.hidden = true;
            }
        });
        openedTuesdayField.addEventListener('change', function() {
            if (openedTuesdayField.value === 'True') {
                openTimeTuesdayField.hidden = false;
                closeTimeTuesdayField.hidden = false;
            } else {
                openTimeTuesdayField.value = '';
                closeTimeTuesdayField.value = '';
                openTimeTuesdayField.hidden = true;
                closeTimeTuesdayField.hidden = true;
            }
        });
        openedWednesdayField.addEventListener('change', function() {
        if (openedWednesdayField.value === 'True') {
            openTimeWednesdayField.hidden = false;
            closeTimeWednesdayField.hidden = false;
        } else {
            openTimeWednesdayField.value = '';
            closeTimeWednesdayField.value = '';
            openTimeWednesdayField.hidden = true;
            closeTimeWednesdayField.hidden = true;
        }
        });
        openedThursdayField.addEventListener('change', function() {
            if (openedThursdayField.value === 'True') {
                openTimeThursdayField.hidden = false;
                closeTimeThursdayField.hidden = false;
            } else {
                openTimeThursdayField.value = '';
                closeTimeThursdayField.value = '';
                openTimeThursdayField.hidden = true;
                closeTimeThursdayField.hidden = true;
            }
        });
        openedFridayField.addEventListener('change', function() {
            if (openedFridayField.value === 'True') {
                openTimeFridayField.hidden = false;
                closeTimeFridayField.hidden = false;
            } else {
                openTimeFridayField.value = '';
                closeTimeFridayField.value = '';
                openTimeFridayField.hidden = true;
                closeTimeFridayField.hidden = true;
            }
        });
        openedSaturdayField.addEventListener('change', function() {
            if (openedSaturdayField.value === 'True') {
                openTimeSaturdayField.hidden = false;
                closeTimeSaturdayField.hidden = false;
            } else {
                openTimeSaturdayField.value = '';
                closeTimeSaturdayField.value = '';
                openTimeSaturdayField.hidden = true;
                closeTimeSaturdayField.hidden = true;
            }
        });
        openedSundayField.addEventListener('change', function() {
            if (openedSundayField.value === 'True') {
                openTimeSundayField.hidden = false;
                closeTimeSundayField.hidden = false;
            } else {
                openTimeSundayField.value = '';
                closeTimeSundayField.value = '';
                openTimeSundayField.hidden = true;
                closeTimeSundayField.hidden = true;
            }
        });
        button1.addEventListener('click', function() {
            update_seg_sex();
        });
        button2.addEventListener('click', function() {
            update_seg_sex();
            update_sat();
        });
        button3.addEventListener('click', function() {
            update_seg_sex();
            update_sat();
            update_sun();
        });
    });
</script>


  
{% endblock %}
