{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_links %} <title>Primeiro Acesso | BACINF</title> {% endblock %}

{% block head_title %} Primeiro Acesso {% endblock %}

{% block content %}
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-red">
      <div class="card-header text-center">
        <div class="text-center">
          <img src="{% static 'sti/img/pmpb_128.png' %}" alt="Brasão PMPB"/>
        </div>
        <hr>
        <a href="{% url 'base:index' %}" class="h1"><b>BACINF</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Clique no botão abaixo para realizar seu primeiro acesso</p>
        <div class="social-auth-links text-center mt-2 mb-3">

          <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
            {{ form.username.as_hidden }}
            {{ form.email.as_hidden }}
            <button type="submit" class="btn btn-block btn-primary"> Entrar </button>
          </form>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
{% endblock %}
