{% extends "base/base.html" %}
{% load static crispy_forms_tags widget_tweaks %}


<!-- browser title -->
{% block title %} Adicionar tag {% endblock %}

<!-- styles -->
{% block style_sheet %}

{% endblock %}


{% block title-header %} Pontos de Interesse {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'protect_network:index' %}">Painel</a></li>
<li class="breadcrumb-item"><a>Adicionar tag</a></li>
{% endblock %}

{% block content %}

<!-- INFO BOX-->
<div class="callout callout-info">
        <h3 class="text-info"><i class="fas fa-bullhorn"></i> Sobre estabelecimento</h3>
        <p class="text-muted text-justify px-3 pt-2">
            1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor tortor non dui mattis, nec blandit justo dignissim.
            <br>2. Phasellus volutpat semper justo, vel laoreet tellus consequat vel. Suspendisse potenti. Fusce nec malesuada neque.
            <br>3. Integer id vestibulum neque, ac malesuada libero. Quisque a ligula vel ante ultrices blandit. Vivamus in lacinia lorem.
        </p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Informações sobre o estabelecimento</h3>
            </div>
        <form class="p-3" method='post' enctype="multipart/form-data">

            


               
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href=""><button type="button" class="btn btn-warning">Cancelar</button></a>
            </div>
        </form>
    </div>
</div>



{% endblock %}
<!-- javascripts -->
{% block js %}
<script src="{% static 'adminlte-3.1.0/plugins/inputmask/jquery.inputmask.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#id_cnpj').inputmask('99.999.999/9999-99', { "clearIncomplete": true });
        $('#id_parent_company').inputmask('99.999.999/9999-99', { "clearIncomplete": true });
    });
</script>
<script>
    $(document).ready(function() {
        var headquarters = document.getElementById("id_is_headquarters");
        var cnpj = document.getElementById("id_cnpj");
        var parent_company = document.getElementById("id_parent_company");
        // Ocultar o campo CNPJ inicialmente
        $(parent_company).prop("disabled", true);

        // Detectar a seleção do campo É Matriz?
        $(headquarters).change(function() {
            if (headquarters.value === "True"){
                $(parent_company).text = "";
                $(parent_company).prop("disabled", true);
            } else {
                $(parent_company).prop("disabled", false);
            }
        });
    });
</script>
{% endblock %}
