{% extends "base/base.html" %}
{% load static custom_tags %}

{% block title %}Rede de Proteção - Redes cadastradas{% endblock %}

{% block style_sheet %}
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}

{% block title-header %} Rede de Proteção {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'protect_network:index' %}">Painel</a></li>
<li class="breadcrumb-item"><a>Lista de redes</a></li>
{% endblock %}

{% block content %}
<!-- INFO BOX-->
<div class="callout callout-info">
  <h3 class="text-info"><i class="fas fa-bullhorn"></i> Sobre lista de redes</h3>
  <p class="text-muted text-justify px-3 pt-2">
      <b>A rede é uma comunidade definida por limites geográficos da qual diversos estabelecimentos podem fazer parte.
          Uma rede pode abranger a área de mais de um batalhão caso haja necessidade.</b>
      <br><br> - Essa tela exibe todas as redes existentes e a quantidade de estabelecimentos cadastrados em cada rede. Um estabelecimento só pode fazer parte de uma rede.
      <br> - Clique em detalhes para exibir mais informações sobre a rede, como quais são os militares responsáveis pela mesma.
      
  </p>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Detalhes da rede</h3>
      </div>
      <div class="card-body">
        <div class="row mb-1">
          <div>
              <b>Nome da rede:</b>
          </div>
          <div class="ml-1">
              {{ network.name }}
          </div>
        </div>
        <div class="row mb-1">
          <div>
              <b>Informações adicionais:</b>
          </div>
          <div class="ml-1 replace-none">
              {{ network.details }}
          </div>
        </div>
        <div class="row mb-1">
          <div>
              <b>Responsáveis pela rede:</b>
          </div>
          <div class="ml-1">
            {{ network_responsibles|length }}
          </div>
        </div>
      </div>
      <hr>
        <div class="card-body">
          <div id="objects_list_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="table-responsive">
                  <table id="objects_list" class="table table-bordered table-striped responsive dataTable dtr-inline"
                      role="grid" aria-describedby="objects_list_info" width="100%">
                      <h3 class="card-title"><b>Responsáveis pela rede </b></h3>
                      <br>

                      <thead>
                          <tr>
                              <th>Militar</th>
                              <th>Unidade</th>
                              <th>Data de inserção na rede</th>
                              <th>Ativo?</th>
                              {% if request.user|has_group:'profile:protect_network_manager' %}
                                <th>Ações</th>
                              {% endif %}
                          </tr>
                      </thead>
                  
                      <tboby>
                        {% for responsible in network_responsibles %}
                          <tr>
                            <td>{{ responsible.responsible.rank }} {{ responsible.responsible.nickname }}</td>
                            <td>{{ responsible.responsible.entity}}</td>
                            <td>{{ responsible.created_at|date:"d/m/Y H:i:s" }}</td>
                            <td>
                              {% if responsible.active %}
                                Ativo
                              {% else %}
                                Inativo
                              {% endif %}
                            </td>
                            {% if request.user|has_group:'profile:protect_network_manager' %}
                              <td class="project-actions text-center">
                                  <a  class="btn btn-outline-info btn-sm" href="{% url 'protect_network:responsible_update' responsible.pk %}">Editar</a>
                                  <a  class="btn btn-outline-danger btn-sm" href="{% url 'protect_network:responsible_delete' responsible.pk %}">Excluir</a>
                              </td>
                            {% endif %}
                          </tr>
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
      
        <div class="card-footer">
        {% if request.user|has_group:'profile:protect_network_manager' %}
          <a href="{% url 'protect_network:responsible_add' network.id %}" alt="responsible_add"><button type="button" class="btn btn-primary"> Adicionar responsável</button></a>
        {% endif %}
        {% if request.user|has_group:'profile:protect_network_manager' %}
        <a href="{% url 'protect_network:network_update' pk=network.pk %}"><button type="button" class="btn btn-info"> Editar </button></a>
        {% endif %}
        <a href="{% url 'protect_network:network_list' %}" alt="network_list"><button type="button" class="btn btn-warning"> Voltar</button></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js %}
<script src="{% static 'adminlte-3.1.0/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script>
  $(function () {
    var dt_table = $('#objects_list').dataTable({
      buttons: ["pageLength"],
      dom: "<'row'<'col-sm-12 col-md-6'B><'col-sm-12 col-md-6'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
      language: {"url": "{% static 'sti/datatable/pt_br.json' %}"},
      responsive: true,
      searching: true,
      processing: true,
      stateSave: true,
      order: [[ 0, "desc" ]],
    });
  });
</script>
<script type="text/javascript">
  var elementsToCheck = document.querySelectorAll('.replace-none');

  for (var i = 0; i < elementsToCheck.length; i++) {
      var element = elementsToCheck[i];
      if (element.textContent.trim() === 'None') {
          element.textContent = 'Não informado';
      }
  }
</script>

{% endblock %}