.cards_container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.cartao {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: #ffffff;
    width: 480px;
    height: 320px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

.cartao:hover {
    transform: translateY(-5px); 
}

.cartao > a {
    display: flex;
    gap: 14px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartao > a > img {
    width: 350px;
    height: 180px;
}

.cartao > a > h2 {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.cartao .footer {
    display: flex;
    justify-content: center;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 8px;
    bottom: 0;
    height: 36px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #e4e4e4;
}

.cartao .footer > a > p {
    color: #000000;
    font-size: 14px;
}

.cartao .footer > a > p:hover {
    font-weight: bold;
}
