.novo_checklist {
    display: flex;
    justify-content: center;
}

.formulario_checklist_parte1 {
    display: flex;
    flex-direction: column;
    gap: 10px;    
}

.formulario_checklist_selecao_itens, .formulario_checklist_parte2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    max-width: 800px;
}

.formulario_checklist_titulo_selecao {
    margin-top: 50px;
    margin-bottom: 50px;
}

.checklist_item {
    width: 30px;
    height: 30px;
}

.formulario_checklist_parte2 > input {
    margin-left: 100px;
}

.container_alteracoes_titulo {
    margin-top: 1rem;
}

#id_alteracoes {
    margin-top: 20px;
}

.edicao_checklist {
    display: none;
}

@media (max-width: 768px) {

    .formulario_checklist_selecao_itens {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        max-width: 800px;
    }
}