.critical_value {
    /* font-weight: bold; */
    color: red;
}

.critical_value span:hover::after {
    content: " Alto nível de ciclos";
    font-size: 12px;
    color: black;
    margin-left: 10px;
    position: absolute;
    padding: 10px;
    z-index: 1;
    background: #e4e4e4;
    border-radius: 5px;
}

.actions_buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.actions_buttons .finalizar_missao i:hover {
    color: green;
}
.actions_buttons .editar_missao i:hover {
    color: green;
}

.actions_buttons .deletar_missao:hover::after {
    content: "Deletar";
    font-size: 12px;
    color: black;
    margin-left: 10px;
    position: absolute;
    padding: 5px;
    z-index: 1;
    background: #e4e4e4;
    border-radius: 5px;
}

.actions_buttons .finalizar_missao:hover::after{
    content: "Encerrar";
    font-size: 12px;
    color: black;
    margin-left: 10px;
    position: absolute;
    padding: 5px;
    z-index: 1;
    background: #e4e4e4;
    border-radius: 5px;
}

.actions_buttons .editar_missao:hover::after{
    content: "Editar";
    font-size: 12px;
    color: black;
    margin-left: 10px;
    position: absolute;
    padding: 5px;
    z-index: 1;
    background: #e4e4e4;
    border-radius: 5px;
}

.actions_buttons .ver_relatorio:hover::after {
    content: "Ver";
    font-size: 12px;
    color: black;
    margin-left: 10px;
    position: absolute;
    padding: 5px;
    z-index: 1;
    background: #e4e4e4;
    border-radius: 5px;
}

