{% extends "controle/pages/intermediate.html" %}
<!-- browser title -->
{% block title %} Deletar Efetivo {% endblock %}

<!-- context title -->
{% block title-header %} Deletar Efetivo {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
  {% comment %} <li class="breadcrumb-item active">Início</li> {% endcomment %}
{% endblock %}

<!-- main container -->
{% block content %}
    <div class="card card-primary card-outline">
      <div class="card-header">
          <h3 class="card-title"></h3>
      </div>
      <div class="card-body">
          <div id="objects_list_wrapper" class="dataTables_wrapper dt-bootstrap4" >
              <div class="container">
                <form action="" method="POST">
                  {% csrf_token %}
                  <p>Tem certeza que dejesar excluir "{{ obj }}"?</p>
                  <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Cancelar</a>
                  <input type="submit" class="btn btn-danger" value="Confirmar">
                </form>
              </div>
          </div>
      </div>
    </div>  

{% endblock content %}