{% extends "base/base.html" %}
{% load static %}

<!-- styles -->
{% block style_sheet %}
{% comment %} bacinf style_sheet {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/css/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/select2/css/select2.min.css' %}">
  <style>
    #id_imagem_aeronave {
      display: none;
    }
    /* fix select2 field height */
    .select2-selection,
    .select2-selection--single {
      height: 38px !important;
    }

    #select2-id_aeronave-container {
      height: 38px !important;
    }
  </style>
{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Operações aéreas {% endblock %}

<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}

{% endblock %}

<!-- main container -->
{% block content %}
<div class="col-md-12">
  <div class="card card-primary card-outline">
    <div class="card-header">
      <h3 class="card-title">Editar aeronave</h3>
    </div>
    <form class="p-3" method='post' enctype='multipart/form-data'>
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-12 mb-0">
          <label for="id_prefixo">Prefixo</label>
          {{ form.prefixo }}
          <label for="id_modelo">Modelo</label>
          {{ form.modelo }}
          <label for="id_marca">Marca</label>
          {{ form.marca }}
          <label for="id_local">Local</label>
          {{ form.local }} 
          <label for="id_em_uso">Disponibilidade</label>
          {{ form.em_uso }} 
          <label for="id_imagem_aeronave" class="mt-3">Imagem da aeronave</label>
          {{ form.imagem_aeronave }}
          <button type="button" class="btn btn-outline-primary ml-3" id="fileButton">Selecionar Arquivo</button>
          <p id="fileName"></p>
        </div>
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'rpa_manager:aeronaves' %}">
          <button type="button" class="btn btn-warning">Cancelar</button>
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}

<!-- javascripts -->
{% block js %}
<!-- DataTables  & Plugins -->
  <script src="{% static 'adminlte-3.1.0/plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/jszip/jszip.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/pdfmake/pdfmake.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/pdfmake/vfs_fonts.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>
  <script>
    document.getElementById("fileButton").addEventListener("click", function() {
      document.getElementById("id_imagem_aeronave").click();
    });
    document.getElementById("id_imagem_aeronave").addEventListener("change", function() {
      var fileName = document.getElementById("id_imagem_aeronave").files[0].name;
      document.getElementById("fileName").innerHTML = "Arquivo selecionado: " + fileName;
    });
  </script>

  <script>
    $(document).ready(function(){
      $('.local_escolha').select2();
    })
  </script>
{% endblock %}