{% extends "base/base.html" %}
{% load static %}

<!-- styles -->
{% block style_sheet %}
  {% comment %} bacinf style_sheet {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/select2/css/select2.min.css' %}">
  <style>
      .novo_checklist {
        display: flex;
        justify-content: center;
    }
    
    .formulario_checklist_parte1 {
        display: flex;
        flex-direction: column;
        gap: 10px; 
        max-width: 100%;   
    }
    
    .formulario_checklist_selecao_itens, .formulario_checklist_parte2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        max-width: 100%%;
    }
    
    .formulario_checklist_titulo_selecao {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .checklist_item {
        width: 30px;
        height: 30px;
    }
    
    .formulario_checklist_parte2 > input {
        margin-left: 100px;
    }
    
    .container_alteracoes_titulo {
        margin-top: 1rem;
    }
    
    #id_alteracoes {
        margin-top: 20px;
    }
    
    .edicao_checklist {
        display: none;
    }
    .formulario_checklist_alteracoes {
      max-width: 100%;
    }

    .formulario_checklist_parte2 > input {
      width: 1rem;
    } 
    
    @media (max-width: 768px) {
    
        .formulario_checklist_selecao_itens {
            display: grid;
            grid-template-columns: 1fr;
            gap: 5px;
            max-width: 800px;
        }
    }
</style>
{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Operações aéreas {% endblock %}

<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'rpa_manager:checklists' %}">Checklist</a></li>
  <li class="breadcrumb-item active">Editar checklist</li>
{% endblock %}

<!-- main container -->
{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Editar checklist</h3>
      </div>
      <form  class="p-3" method='post' enctype="multipart/form-data">
        {% csrf_token %}

        {% comment %} Esta variavel verifica se o form esta sendo editado e carrega {% endcomment %}
        {% comment %} a lista de itens a serem avaliados {% endcomment %}
        <p class="edicao_checklist">{{ edicao_checklist }}</p> 

        <div class="container formulario_checklist_parte1">
          {{ form.piloto }}
          <label for="id_aeronave">Aeronave</label>
          Selecione uma aeronave para iniciar o checklist
          {{ form.aeronave }}
          <input type="hidden" name="aeronave_id" value="{{ form.aeronave.value }}">
          <label for="id_num_helices">Número de hélices</label>
          {{ form.num_helices }}
          <label for="id_num_baterias">Número de baterias</label>
          {{ form.num_baterias }}
        </div>

        <h2 class="formulario_checklist_titulo_selecao">Marcar itens que estão Ok </h2>
        <div class="formulario_checklist_selecao_itens ">
          <div class="container formulario_checklist_parte2">
            <label for="id_baterias_carregadas">Baterias carregadas</label>
            {{ form.baterias_carregadas }}
            <label for="id_bateria_controle_carregada">Bateria controle carregada</label>
            {{ form.bateria_controle_carregada }}
            <label for="id_corpo">Corpo/Shell</label>
            {{ form.corpo }}
            <label for="id_hastes_motor">Hastes</label>
            {{ form.hastes_motor }}
            <label for="id_helices">Hélices</label>
            {{ form.helices }}
            <label for="id_gimbal">Gimbal</label>
            {{ form.gimbal }}
            <label for="id_holofote">Holofote</label>
            {{ form.holofote }}
            <label for="id_auto_falante">Auto-falante</label>
            {{ form.auto_falante }}
            <label for="id_luz_estroboscopica">Luz Estroboscópica</label>
            {{ form.luz_estroboscopica }}
            <label for="id_cabos">Cabos</label>
            {{ form.cabos }}
            <label for="id_carregador">Carregador</label>
            {{ form.carregador }}
          </div>

          <div class="p-3 formulario_checklist_parte2 ">
            <label for="id_fonte">Fonte de energia</label>
            {{ form.fonte }}
            <label for="id_smart_controller">Smart controller</label>
            {{ form.smart_controller }}
            <label for="id_controle">Controle remoto</label>
            {{ form.controle }}
            <label for="id_cartao_sd">Cartão SD</label>
            {{ form.cartao_sd }}
            <label for="id_IMU">IMU</label>
            {{ form.IMU }}
            <label for="id_compass">Compass/Bússola</label>
            {{ form.compass }}
            <label for="id_sinal_transmissao">Sinal de transmissão</label>
            {{ form.sinal_transmissao }}
            <label for="id_sistema_rtk_ppk">Sistema RTK PPK</label>
            {{ form.sistema_rtk_ppk }}
            <label for="id_paraquedas">Paraquedas</label>
            {{ form.paraquedas }}
            <label for="id_sinal_de_video">Sinal de vídeo</label>
            {{ form.sinal_de_video }}
            <label for="id_telemetria">Telemetria</label>
            {{ form.telemetria }}
          </div>
        </div>

        <div class="container formulario_checklist_alteracoes">
          <h4 class="formulario_checklist_titulo_selecao">Caso algum item não esteja ok, descrever abaixo as
            alterações:</h4>
          <label class="container_alteracoes_titulo" for="id_alteracoes">Alterações</label>
          <input type="button" class="btn btn-danger botao_limpar" value="Limpar" onclick="limpaAlteracoes();" /><br>
          {{ form.alteracoes }}
        </div>
        <div class="mt-3">
          {{ form.errors }}
          <button type="submit" class="btn btn-primary">Salvar</button>
          <a href="{% url 'rpa_manager:checklists' %}">
              <button type="button" class="btn btn-warning">Cancelar</button>
          </a>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

<!-- javascripts -->
{% block js %}
  <!-- DataTables  & Plugins -->
  <script src="{% static 'adminlte-3.1.0/plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/jszip/jszip.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/pdfmake/pdfmake.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/pdfmake/vfs_fonts.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>

  <script src="{% static 'controle/js/checklist_adiciona_alteracoes.js' %}"></script>
  <script>  
    $(document).ready(function() { 
      $(".aeronave_escolha").on('change', function() {
        let aeronave_selecionada = $(this).val();
        console.log(aeronave_selecionada);
        
        if (aeronave_selecionada === '1') {
            console.log("Aeronave 68 selecionada");
            $('input[name="holofote"]').show();
            $('label[for="id_holofote"]').show();

            $('input[name="auto_falante"]').show();
            $('label[for="id_auto_falante"]').show();

            $('input[name="luz_estroboscopica"]').show();
            $('label[for="id_luz_estroboscopica"]').show();

            $('input[name="smart_controller"]').show();
            $('label[for="id_smart_controller"]').show();

            $('input[name="controle"]').hide();
            $('label[for="id_controle"]').hide();
        } else {
            $('input[name="holofote"]').hide();
            $('label[for="id_holofote"]').hide();

            $('input[name="auto_falante"]').hide();
            $('label[for="id_auto_falante"]').hide();

            $('input[name="luz_estroboscopica"]').hide();
            $('label[for="id_luz_estroboscopica"]').hide();

            $('input[name="smart_controller"]').hide();
            $('label[for="id_smart_controller"]').hide();

            $('input[name="controle"]').show();
            $('label[for="id_controle"]').show();
        }
      });
        
    });

  </script>
{% endblock %}
