{% extends "base/base.html" %}
{% load static %}

{% block style_sheet %}
    <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
  <style>
     .piloto_observador,
     .quem_solicitou,
     .quem_autorizou,
     .local,
     .aeronave{
      margin-top: 10px;
    }
    
    .map_options {
      display: flex;
      gap: 10px;
    }

    /* Estilo para o ícone "x" */
    .input-container {
      position: relative;
      width: 400px;
    }
    .clear-icon {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }

    #id_is_temporary {
      display: inline;
      width: 15px;
      height: 15px;
    }

    .hidden {
      display: none;
    }

    .visible {
      display: block;
    }

    .dateTimeOptions {
      position: absolute;
      top: 3px;
      right: 10px;
    }

    /* fix select2 field height */
    .select2-selection, .select2-selection--single{
      height: 38px !important;
    }
  
    #select2-id_aeronave-container {
      height: 38px !important;
    }

    @media (max-width: 768px) {
      .map_options {
        display: flex;
        flex-direction: column;
      }

      .input-container {
        position: relative;
        width: 100%;
      }

      .dateTimeOptions {
        position: static;
      }
  }

  </style>
{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Operações aéreas {% endblock %}


<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}

{% endblock %}

<!-- main container -->
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title">Editar ponto de interesse</h3>
        </div>
        <form class="p-3" method='post' enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-12 mb-0">
            <label for="id_operacao" class="title_operacao">Operação</label>
            {{ form.operacao }}
            {{ form.operacao.errors }}
            <label for="id_is_temporary" class="title_is_temporary mt-3">O ponto é temporário? <small>Se sim, marque a caixa ao lado:</small> </label>
            {{ form.is_temporary }}
            {{ form.is_temporary.errors }}
            <h5 class="evento">Duração do evento:</h5>
            <div class="row">
              <div class="col-md-6" style="position: relative">
                {{ form.date_initial }}
                {{ form.date_initial.errors }}
                <div class="dateTimeOptions">
                  <input type="date" id="dateInitialInput">
                  <input type="time" id="timeInitialInput">
                </div>
              </div>
              <div class="col-md-6" style="position: relative">
                {{ form.date_final }}
                {{ form.date_final.errors }}
                <div class="dateTimeOptions">
                  <input type="date" id="dateFinalInput">
                  <input type="time" id="timeFinalInput">
                </div>
              </div>
            </div>
            <label for="id_descricao" class="title_descricao mt-1" style="display: block">Descrição</label>
            {{ form.descricao }}
            {{ form.descricao.errors }}
            <label for="id_latitude" class="title_latitude mt-1">Latitude</label>
            {{ form.latitude }}
            {{ form.latitude.errors }}
            <label for="id_longitude" class="title_longitude mt-1">Longitude</label>
            {{ form.longitude }}
            {{ form.longitude.errors }}
            <div class="mt-3">
              <button type="submit" class="btn btn-primary">Salvar</button>
              <a href="{% url 'rpa_manager:painel' %}">
                <button type="button" class="btn btn-warning">Cancelar</button>
              </a>
            </div>
          </form>
          <div id="map" class="mt-3" style="height: 500px;"></div>
      </div>
    </div>
  </div>
  {% endblock content %}

  <!-- javascripts -->
  {% block js %}
  <!-- DataTables  & Plugins -->
  <script src="{% static 'adminlte-3.1.0/plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/jszip/jszip.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/pdfmake/pdfmake.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/pdfmake/vfs_fonts.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/moment/moment.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
  <script src="{% static 'leaflet/leaflet.js' %}"></script>

  <script>
    $(function () {
      $('#datetimepicker_date_initial').datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss',
        icons: {
          time: 'fa fa-clock',
        }
      });

      $('#datetimepicker_date_final').datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss',
        icons: {
          time: 'fa fa-clock',
        }
      });
    });
  </script>

  <script>
    const dateInitialInput = document.getElementById('dateInitialInput');
    const timeInitialInput = document.getElementById('timeInitialInput');
    const dateFinalInput = document.getElementById('dateFinalInput');
    const timeFinalInput = document.getElementById('timeFinalInput');
    const dateInitialDisplay = document.getElementById('id_date_initial');
    const dateFinalDisplay = document.getElementById('id_date_final');
    dateInitialInput.addEventListener('change', updateInitialResult);
    timeInitialInput.addEventListener('change', updateInitialResult);
    dateFinalInput.addEventListener('change', updateFinalResult);
    timeFinalInput.addEventListener('change', updateFinalResult);
    
    function updateInitialResult() {
        const selectedDate = dateInitialInput.value;
        const selectedTime = timeInitialInput.value;
        const formattedDateTime = formatDateTime(selectedDate, selectedTime);
        dateInitialDisplay.value = formattedDateTime;
      }
      
      function updateFinalResult() {
        const selectedDate = dateFinalInput.value;
        const selectedTime = timeFinalInput.value;
        const formattedDateTime = formatDateTime(selectedDate, selectedTime);
        dateFinalDisplay.value = formattedDateTime;
    }
    
    function formatDateTime(date, time) {
        const dateObj = new Date(date + 'T' + time);
        
        const formattedDate = formatDate(dateObj);
        const formattedTime = formatTime(dateObj);
        
        return formattedDate + ' ' + formattedTime;
    }
    
    function formatDate(dateObj) {
        const day = String(dateObj.getDate()).padStart(2, '0');
        const month = String(dateObj.getMonth() + 1).padStart(2, '0');
        const year = dateObj.getFullYear();
        
        if(!isNaN(day)) {
          return `${day}/${month}/${year}`;
        } else {
          return 'selecione a data e a hora';
        }
    }
    
    function formatTime(dateObj) {
        const hours = String(dateObj.getHours()).padStart(2, '0');
        const minutes = String(dateObj.getMinutes()).padStart(2, '0');
        const seconds = String(dateObj.getSeconds()).padStart(2, '0');
        
        if(!isNaN(hours)) {
          return `${hours}:${minutes}:${seconds}`;
        } else {
          return '';
        }
    }
  </script>

  <script>
    let latitude = {{ latitude | safe }}
    let longitude = {{ longitude | safe }}
    var map = L.map('map').setView([latitude, longitude], 17);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
    var marker = L.marker([latitude, longitude]).addTo(map);

    map.on('click', function (e) {
        if (marker) {
            map.removeLayer(marker);
        }

        marker = L.marker(e.latlng).addTo(map);
        document.getElementById('id_latitude').value = e.latlng.lat;
        document.getElementById('id_longitude').value = e.latlng.lng;
    });
  </script>
{% endblock %}