$(".aeronave_escolha").on('change', function() {
    let aeronave_selecionada = $(this).val();
    console.log(aeronave_selecionada);
    let historico_checklist_dict_json = JSON.parse('{{ historico_checklist_dict_json|escapejs }}');
    
    function transformInBooleanValues(notTransformedJson) {
      let objeto = notTransformedJson;

      for (let chave in notTransformedJson) {
        if (objeto.hasOwnProperty(chave)) {
          let subObjeto = objeto[chave];
    
          for (let subChave in subObjeto) {
            if (subObjeto.hasOwnProperty(subChave)) {
              let valor = subObjeto[subChave];
    
              if (valor === 'False') {
                subObjeto[subChave] = false;
              } else if (valor === 'True') {
                subObjeto[subChave] = true;
              }
            }
          }
        }
      }
      return objeto;
    }

    let historico_checklist_json = transformInBooleanValues(historico_checklist_dict_json);
    console.log(historico_checklist_json);
    let dadosAeronave = historico_checklist_json[aeronave_selecionada];
    
    if(dadosAeronave) {
      $('input[name="num_helices"]').val(dadosAeronave.num_helices);
      $('input[name="num_baterias"]').val(dadosAeronave.num_baterias); 
      $('input[name="baterias_carregadas"]').prop('checked', dadosAeronave.baterias_carregadas);
      $('input[name="bateria_controle_carregada"]').prop('checked', dadosAeronave.bateria_controle_carregada);
      $('input[name="corpo"]').prop('checked', dadosAeronave.corpo);
      $('input[name="hastes_motor"]').prop('checked', dadosAeronave.hastes_motor);
      $('input[name="helices"]').prop('checked', dadosAeronave.helices);
      $('input[name="gimbal"]').prop('checked', dadosAeronave.gimbal);
      $('input[name="holofote"]').prop('checked', dadosAeronave.holofote);
      $('input[name="auto_falante"]').prop('checked', dadosAeronave.auto_falante);
      $('input[name="luz_estroboscopica"]').prop('checked', dadosAeronave.luz_estroboscopica);
      $('input[name="cabos"]').prop('checked', dadosAeronave.cabos);
      $('input[name="carregador"]').prop('checked', dadosAeronave.carregador);
      $('input[name="fonte"]').prop('checked', dadosAeronave.fonte);
      $('input[name="smart_controller"]').prop('checked', dadosAeronave.smart_controller);
      $('input[name="controle"]').prop('checked', dadosAeronave.controle);
      $('input[name="cartao_sd"]').prop('checked', dadosAeronave.cartao_sd);
      $('input[name="IMU"]').prop('checked', dadosAeronave.IMU);
      $('input[name="compass"]').prop('checked', dadosAeronave.compass);
      $('input[name="sinal_transmissao"]').prop('checked', dadosAeronave.sinal_transmissao);
      $('input[name="sistema_rtk_ppk"]').prop('checked', dadosAeronave.sistema_rtk_ppk);
      $('input[name="sinal_de_video"]').prop('checked', dadosAeronave.sinal_de_video);
      $('input[name="telemetria"]').prop('checked', dadosAeronave.telemetria);
      $('input[name="paraquedas"]').prop('checked', dadosAeronave.paraquedas);
      $('textarea[name="alteracoes"]').val(dadosAeronave.alteracoes);
    }
    
    if (aeronave_selecionada === '1') {
        console.log("Aeronave 68 selecionada");
        $('input[name="holofote"]').show();
        $('label[for="id_holofote"]').show();

        $('input[name="auto_falante"]').show();
        $('label[for="id_auto_falante"]').show();

        $('input[name="luz_estroboscopica"]').show();
        $('label[for="id_luz_estroboscopica"]').show();

        $('input[name="smart_controller"]').show();
        $('label[for="id_smart_controller"]').show();

        $('input[name="controle"]').hide();
        $('label[for="id_controle"]').hide();
    } else {
        $('input[name="holofote"]').hide();
        $('label[for="id_holofote"]').hide();

        $('input[name="auto_falante"]').hide();
        $('label[for="id_auto_falante"]').hide();

        $('input[name="luz_estroboscopica"]').hide();
        $('label[for="id_luz_estroboscopica"]').hide();

        $('input[name="smart_controller"]').hide();
        $('label[for="id_smart_controller"]').hide();

        $('input[name="controle"]').show();
        $('label[for="id_controle"]').show();
    }
  });
    
});