{% extends 'base/base.html' %}

{% block style_sheet %}
    {% load static %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'adminlte-3.1.0/css/adminlte.min.css' %}">

    {% comment %} <link rel="stylesheet" type="text/css" href="{% static '/DataTables/select2-4.1.0/dist/css/select2.min.css' %}"> {% endcomment %}
    {% comment %} ATENÇÃO - DELETAR LINHA ABAIXO APENAS DEPOIS DE TESTAR {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'select2-4.1.0-rc.0/dist/css/select2.min.css' %}">

    <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/fontawesome-free/css/all.min.css' %}">
    <link href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/datatables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/Responsive-2.4.0/css/responsive.dataTables.min.css' %}">

    {% comment %} <link rel="stylesheet" type="text/css" href="{% static '/DataTables/Buttons-2.3.6/css/buttons.dataTables.min.css' %}"> {% endcomment %}
    {% comment %} ATENÇÃO - DELETAR LINHA ABAIXO APENAS DEPOIS DE TESTAR {% endcomment %}
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">

    <link rel="stylesheet" href="{% static 'controle/css/novo_relatorio.css' %}">
    <link rel="stylesheet" href="{% static 'controle/css/novo_checklist.css' %}">
    <link rel="stylesheet" href="{% static 'controle/css/nova_bateria.css' %}">
    <link rel="stylesheet" href="{% static 'controle/css/tables-style.css' %}"> 
    <link rel="stylesheet" href="{% static 'controle/css/card-style.css' %}">
    <link rel="stylesheet" href="{% static 'controle/css/dashboard.css' %}"> 
    <link rel="stylesheet" href="{% static 'controle/css/style.css' %}"> 
{% endblock %}

{% block content %}

{% endblock content %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'adminlte-3.1.0/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'adminlte-3.1.0/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'adminlte-3.1.0/js/adminlte.min.js' %}"></script>


    <script type="text/javascript" charset="utf8" src="{% static '/DataTables/datatables.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- Nav right statements-->
    <script src="{% static 'adminlte-3.1.0/js/demo.js' %}"></script>
    <script src="{% static 'controle/js/datatables_config_jquery.js' %}"></script>
    <script src="{% static 'controle/js/checklist_controle_aeronave.js' %}"></script>
    <script src="{% static 'controle/js/checklist_adiciona_alteracoes.js' %}"></script>
    <script src="{% static 'controle/js/dashboard.js' %}"></script>


    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    {% comment %} <script src="{% static '/DataTables/select2.min.js' %}"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
    <script src="{% static 'select2-4.1.0-rc.0/dist/js/select2.min.js' %}" defer></script>


    <!-- DataTables PDF Libraries -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.js"></script> {% endcomment %}

    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>

    {% comment %} <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script> {% endcomment %}
    <script src="{% static 'DataTables/Responsive-2.4.0/js/dataTables.responsive.min.js' %}"></script>
{% endblock  %}