{% extends "base/base.html" %}
{% load static %}

<!-- styles -->
{% block style_sheet %}
  {% comment %} bacinf style_sheet {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
<style>
  .detail_report {
    display: flex;
    gap: 10px;
  }
  .report_details_card {
    width: 400px;
  }
  .detail_report_map {
    height: 800px;
  }
  .mapBehaviorWhenError {
    border: 1px solid black;
  }
  @media (max-width: 768px) {
    .detail_report {
      display: flex;
      flex-direction: column-reverse;
      justify-content: start;
      width: 100%;
    }
    .detail_report_map {
      height: 300px;
    }
  }
</style>

{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Detalhes Relatório {% endblock %}

<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
{% comment %} <li class="breadcrumb-item active">Início</li> {% endcomment %}
{% endblock %}

<!-- main container -->
{% block content %}

<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">Dados do relatório</h3>
  </div> 

  <div class="detail_report">
    <div class="card card-primary col-md-4 mt-3">
      {% comment %} <div class="card-header">
        <h3 class="card-title">Detalhes relatório</h3>
      </div> {% endcomment %}
  
      <div class="card-body">
        <strong>Título: </strong> {{ relatorio.titulo }}
        <hr>
        <strong>Piloto remoto: </strong> {{ relatorio.militar }}
        <hr>
        <strong>Piloto observador: </strong>
        {% if relatorio.piloto_observador == None %}
          sem registro
        {% else %}
          {{ relatorio.piloto_observador }} 
        {% endif %}
        <hr>
        <strong>Data inicial: </strong> {{ relatorio.data | date:"d/m/Y"}}
        <hr>
        <strong>Data final: </strong> 
        {% if relatorio.data_final == None %}
          sem registro
        {% else %}
          {{ relatorio.data_final | date:"d/m/Y"}}
        {% endif %}
        <hr>
        <strong>Horário inicial: </strong> {{ relatorio.horario_inicial }}
        <hr>
        <strong>Horário final: </strong> {{ relatorio.horario_final }}
        <hr>
        <strong>Localidade: </strong> {{ relatorio.local }}
        <hr>
        <strong>Coordenadas: </strong> 
        
        {% if relatorio.latitude != None or relatorio.longitude != None %}
          {{ relatorio.latitude|stringformat:"s" }},{{ relatorio.longitude|stringformat:"s" }}
        {% else %}
          sem registro
        {% endif %}
        <hr>
        <strong>Número Sarpas: </strong> 
        {{ relatorio.num_sarpas }}
              <a href="https://sarpas.decea.mil.br/consulta-protocolo" target="_blank"><i
                  class="fa-solid fa-magnifying-glass"></i> Consultar</a>
        <hr>
        {% comment %} <strong>Arquivo de solicitação: </strong> 
        {% if relatorio.arquivo_solicitacao != None %}
          <a href="{{ relatorio.arquivo_solicitacao.url }}/">Baixar solicitação <i
                class="fas fa-file-pdf"></i> </a>
          {% else %}
           sem registro
        {% endif %}
        <hr> {% endcomment %}
        <strong>Entidade apoiada: </strong> {{ relatorio.entidade_apoiada }}
        <hr>
        <strong>Natureza de voo: </strong> {{ relatorio.natureza_de_voo }}
        <hr>
        <strong>Tipo de operação: </strong> {{ relatorio.tipo_de_operacao }}
        <hr>
        <strong>Aeronave utilizada: </strong> {{ relatorio.aeronave }}
        <hr>
        <strong>Número ficha ocorrência CIOP: </strong> 
        {% if relatorio.numero_ficha_oc %}
          {{ relatorio.numero_ficha_oc }}
        {% else %}
          sem registro
        {% endif %}
        <hr>
        <strong>Relato da operação: </strong> {{ relatorio.relato_da_missao }}
        <hr>
        
      </div>
    </div>
  
    <div class="col-md-8">
      <div id="map" class="detail_report_map mt-3 mr-3"><h3 id="errorMessage"></h3></div>
    </div>
  </div>

</div>


{% endblock content %}

<!-- javascripts -->
{% block js %}
  <!-- DataTables  & Plugins -->
  <script src="{% static 'adminlte-3.1.0/plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/jszip/jszip.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/pdfmake/pdfmake.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/pdfmake/vfs_fonts.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>
  <script src="{% static 'leaflet/leaflet.js' %}"></script>
  <script type="text/javascript">
		// Função que será executada quando o documento estiver pronto
		document.addEventListener('DOMContentLoaded', function () {
				var coordinatesJson = {{ coordinates_json|safe }}
				// Coordenadas do centro do mapa (latitude, longitude)
				let centerCoordinates = [coordinatesJson.latitude, coordinatesJson.longitude];
        
        if(coordinatesJson.latitude !== null && coordinatesJson.longitude !== null) {
          // Criação do mapa no elemento div com o ID 'map'
          let map = L.map('map').setView(centerCoordinates, 16);

          // Adicionando uma camada de mapa (neste caso, o OpenStreetMap)
          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(map);
          
          // Adicionando um marcador no mapa
          let marker = L.marker(centerCoordinates).addTo(map);

          // Adicionando um popup ao marcador
          marker.bindPopup(coordinatesJson.titulo + '<br>' +  coordinatesJson.latitude + ',' + coordinatesJson.longitude).openPopup();
        } else {
          let errorMessage = document.querySelector('#errorMessage');
          let mapa = document.querySelector('.detail_report_map');

          mapa.classList.add('mapBehaviorWhenError')
          errorMessage.textContent = "Sem coordenadas para gerar o mapa"
        }
    });
	</script>
{% endblock %}