{% extends "base/base.html" %}
{% load static %}

{% block style_sheet %}
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
  <style>
    .hidden {
      display: none;
    }
    #id_imageIncidente {
      display: none;
    }
    #fileList {
      display: none;
    }
    .temp_images_view {
      display: flex;
      flex-wrap: nowrap;
      max-height: 200px; /* Adjust the max height to control overflow */
      overflow-x: auto;
    }
    
    .temp_images_view img {
      margin: 5px;
      max-width: 150px; /* Adjust the max width of each image as needed */
      max-height: 150px; /* Adjust the max height of each image as needed */
    }
    
    .temp_images_view_edit {
      display: flex;
      flex-wrap: nowrap;
      max-height: 200px; /* Adjust the max height to control overflow */
      overflow-x: auto;
    }
    .temp_images_view_edit img {
      margin: 5px;
      max-width: 150px; /* Adjust the max width of each image as needed */
      max-height: 150px; /* Adjust the max height of each image as needed */
    }
      /* fix select2 field height */
    .select2-selection,
    .select2-selection--single {
      height: 38px !important;
    }

    #select2-id_aeronave-container {
      height: 38px !important;
    }
  </style>
  {% endblock style_sheet %}

  <!-- browser title -->
{% block title %} Criar Incidente {% endblock %}

<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'rpa_manager:incidentes' %}">Incidentes</a></li>
  <li class="breadcrumb-item active">
    {% if request.resolver_match.url_name == 'create_incidente' %}Novo incidente{% else %}Editar incidente{% endif %}
  </li>
{% endblock %}

<!-- main container -->
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">{% if request.resolver_match.url_name == 'create_incidente' %}Novo Incidente{% else %}Editar Incidente{% endif %}</h3>
      </div>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.piloto }}
        
        <div class="ml-3 mr-3 mt-3">
          <label for="id_operacao">Operação</label>
          {{ form.operacao}}
        </div>
        <div class="ml-3 mr-3 mt-3">
          <label for="id_operacao">Aeronave</label>
          {{ form.aeronave}}
        </div>
        
        <div class="ml-3 mr-3 mt-3">
          <label for="id_operacao">Local</label>
          {{ form.local}}
        </div>
        <div class="form-group ml-3 mr-3 mt-1">
          <label for="id_data">Data e Hora</label>
          <div class="input-group date" id="datetimepicker" data-target-input="nearest">
            {{ form.data }}
            <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
        <div class="ml-3 mr-3 mt-3">
          <label for="id_operacao">Imagens do incidente</label>
          <input type="file" id="id_imageIncidente", name="imagens" multiple>
          <button type="button" class="btn btn-outline-primary ml-3" id="fileButton">Selecionar Arquivo</button>
          <p id="fileName"></p>
          <p id="fileList"></p>
          <div class="temp_images_view"></div>

          {% if request.resolver_match.url_name == 'update_incidente' %}
            {% if images %}
              <label for="">Imagens carregadas</label>
            {% else %}
              <label for="">Não há Imagens carregadas</label>
            {% endif %}
              
            <div class="temp_images_view_edit">
              
              {% if images %}
                {% for img in images %}
                <a href="{% url 'rpa_manager:delete_image' img.pk %} ">
                  <img src="{{ img.imageIncidente.url }}" alt="Image" class="imagem-incidente" data-id="{{ img.pk }}">
                </a>
                {% endfor %}
              {% else %}
              {% endif %}                
            </div>         
          {% endif %}
        </div>
        <div class="ml-3 mr-3 mt-3">
          <label for="id_operacao">Ponto de referência</label>
          {{ form.ponto_de_referencia}}
        </div>
        <div class="ml-3 mr-3 mt-3">
          <label for="id_operacao">Relato do incidente</label>
          {{ form.relato}}
        </div>
        <div class="ml-3 mr-3 mt-3">
          <label for="id_numero_ficha_oc" class="field_label">Número da ficha de ocorrência policial</label>
          {{ form.numero_ficha_oc }}
          {{ form.numero_ficha_oc.errors }}
        </div>

        <div class="ml-3 mr-3 mt-3 mb-3">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <a href="{% url 'rpa_manager:painel' %}">
            <button type="button" class="btn btn-warning">Cancelar</button>
          </a>
        </div>
      </form>
    </div>
  </div>
  {% endblock content %}

  <!-- javascripts -->
  {% block js %}
  <!-- DataTables  & Plugins -->
  <script src="{% static 'adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/moment/moment.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('.local_escolha').select2();
      $('.aeronave_escolha').select2();
    });
  </script>
  <script>
    $(function () {
      $('#datetimepicker').datetimepicker({
        format: 'YYYY-MM-DD  HH:mm:ss',
        icons: {
          time: 'fa fa-clock',
        }
      });
    });
  </script>

  <script>
    const fileInput = document.getElementById("id_imageIncidente");
    const fileList = document.getElementById('fileList');
    const tempImagesView = document.querySelector('.temp_images_view');
  
    document.getElementById("fileButton").addEventListener("click", function() {
      fileInput.click();
    });
  
    fileInput.addEventListener("change", function() {

      const files = fileInput.files;
      let fileListText = '';
  
      for (let i = 0; i < files.length; i++) {
        fileListText += files[i].name + '<br>';
      }
  
      fileList.innerHTML = fileListText;
  
      // Remove previous images from the tempImagesView
      tempImagesView.innerHTML = '';
  
      // Display image previews
      for (let i = 0; i < files.length; i++) {
        const file = files[i];
        const reader = new FileReader();
  
        reader.onload = function(e) {
          const img = document.createElement('img');
          img.src = e.target.result;
          img.alt = file.name;
          tempImagesView.appendChild(img);
        };
  
        reader.readAsDataURL(file);
      }
    });
  </script>

  <script>
    // Capturando todos os elementos com a classe 'imagem-incidente'
    const imagensIncidente = document.querySelectorAll('.imagem-incidente');

    imagensIncidente.forEach(imagem => {
        imagem.addEventListener('click', (event) => {
            event.preventDefault(); // Prevenir o comportamento padrão do link

            // Obtendo o ID da imagem do atributo 'data-id'
            const imagemId = imagem.dataset.id;

            // Exibindo o alerta de confirmação antes de deletar a imagem
            const confirmarExclusao = window.confirm("Tem certeza que deseja excluir esta imagem?");

            if (confirmarExclusao) {

              const localhostUrl = `http://127.0.0.1:8000/rpa_manager`;

              console.log(`${localhostUrl}/delete_image/${imagemId}/`);

                // Enviando a requisição para deletar a imagem
                fetch(`${localhostUrl}/delete_image/${imagemId}/`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'), // Garante que o Django aceitará a requisição
                    }
                }).then(response => {
                    if (response.ok) {
                      window.location.reload();
                    } else {
                        alert('A requisição falhou.');
                    }
                }).catch(error => {
                    console.error('Erro ao deletar a imagem:', error);
                });
            }
        });
    });

    // Função auxiliar para obter o valor do cookie 'csrftoken'
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>

{% endblock %}  