{% extends "base/base.html" %}
{% load static %}

{% block style_sheet %}
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
<style>
  .callout-text {
    text-align: justify
  }
  .map_options {
    display: flex;
    gap: 10px;
  }
  .input-container {
    position: relative;
    width: 400px;
  }

  .clear-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  /* fix select2 field height */
  .select2-selection,
  .select2-selection--single {
    height: 38px !important;
  }

  #select2-id_aircraft-container {
    height: 38px !important;
  }

  .loading_search {
    display: none;
  }

  @media (max-width: 768px) {
    .map_options {
      display: flex;
      flex-direction: column;
    }

    .input-container {
      position: relative;
      width: 100%;
    }
  }
</style>
{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Nova Operação {% endblock %}


<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'rpa_manager:principal' %}">Operações</a></li>
  <li class="breadcrumb-item active">Nova operação</li>
{% endblock %}

<!-- main container -->
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="callout callout-info">
      <h3 class="text-info"><i class="fas fa-bullhorn"></i> Atenção ao preenchimento!</h3>
      <p class="callout-text">Neste formulário insira as informações referente a operação que será realizada.</p>
      <p class="callout-text">Acima do mapa há opções para inserir as coordenadas no mapa assim como pesquisar um endereço.</p>
    </div>

    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Criar nova operação</h3>
      </div>

      <form class="p-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-12 mb-0">
            <div class="row mt-3">
              <div class="col-md-6">
                <label for="id_piloto_remoto" class="piloto_remoto">Piloto Remoto</label>
                <br>{{ user.username }}<br>
              </div>
            </div>
            <hr>
            <div class="row mt-3">
              <div class="col-md-6">
                <label for="id_title">Título da Operação</label>
                {{ form.title }}
                {{ form.title.errors }}
              </div>
              <div class="col-md-6">
                <label for="id_observer_pilot">Piloto Observador</label>
                {{ form.observer_pilot }}
                {{ form.observer_pilot.errors }}
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <label for="id_who_requested">Quem Solicitou</label>
                {{ form.who_requested }}
                {{ form.who_requested.errors }}
              </div>
              <div class="col-md-6">
                <label for="id_who_authorized">Quem Autorizou</label>
                {{ form.who_authorized }}
                {{ form.who_authorized.errors }}
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <label for="id_aircraft">Aeronave</label>
                <select name="aircraft" id="id_aircraft" class="form-control">
                  <option value="" selected>Selecione uma aeronave</option>
                  {% for aircraft in aeronaves_disponiveis %}
                    <option value="{{ aircraft.pk }}">{{ aircraft.prefix }} - {{ aircraft.model }}</option>
                  {% endfor %}
                </select>
                {{ form.aircraft.errors }}
              </div>
              <div class="col-md-6">
                <label for="id_location">Local</label>
                {{ form.location }}
                {{ form.location.errors }}
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <label for="id_latitude">Ponto de Decolagem: Latitude</label>
                {{ form.latitude }}
                {{ form.latitude.errors }}
              </div>
              <div class="col-md-6">
                <label for="id_longitude">Ponto de Decolagem: Longitude</label>
                {{ form.longitude }}
                {{ form.longitude.errors }}
              </div>
            </div>
            {{ form.user }}
          </div>
        </div>


        <div class="map_options">
          <button type="button" class="btn btn-outline-primary ml-3 mt-3" onclick="inserirPontoDecolagem();">Inserir
            Ponto de
            Decolagem</button>
          <div class="input-container mt-3">
            <input type="text" class="form-control" id="endereco" placeholder="Digite o endereço" />
            <i class="fas fa-times-circle clear-icon" onclick="limparCampo()"></i>
          </div>
          <button type="button" class="btn btn-outline-info mt-3" style="max-height: 38px;" onclick="pesquisarEndereco()">Pesquisar
            Endereço</button>
          <div class="loading_search">
            <p style="margin-top: 25px;">Pesquisando...</p>
          </div>
        </div>
        
        <div id="map" class="ml-3 mr-3 mt-3" style="height: 400px;"></div>

        <div class="ml-3 mb-3 mt-3">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <a href="{% url 'rpa_manager:principal' %}">
            <button type="button" class="btn btn-warning">Cancelar</button>
          </a>
        </div>
      </form>
    </div>
  </div>
  {% endblock content %}

  <!-- javascripts -->
  {% block js %}
  <!-- DataTables  & Plugins -->
  <script src="{% static 'adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>
  <script src="{% static 'leaflet/leaflet.js' %}"></script>
  <script>
    // Inicializar o mapa
    let zoomLevel = 10;
    let map = L.map('map').setView([-7.015104, -35.402316], zoomLevel);
    var latitude = document.getElementById('id_latitude');
    var longitude = document.getElementById('id_longitude');
    var marcacao;
    let dadosMarcadores = {{ points_json | safe }}

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);


    map.on('click', function (e) {
      var lat = e.latlng.lat;
      var lng = e.latlng.lng;
      latitude.value = lat;
      longitude.value = lng;

      if (marcacao) {
        map.removeLayer(marcacao);
      }
      marcacao = L.marker([lat, lng]).addTo(map);
    });

    function inserirPontoDecolagem() {
      var lat = parseFloat(latitude.value);
      var lng = parseFloat(longitude.value);

      if (marcacao) {
        map.removeLayer(marcacao);
      }

      if (!isNaN(lat) && !isNaN(lng)) {

        marcacao = L.marker([lat, lng]).addTo(map);
        map.setView([lat, lng], 13);

      } else {
        alert('Coordenadas inválidas. Certifique-se de inserir valores numéricos válidos para latitude e longitude.');
      }
    }

    async function pesquisarEndereco() {
      var map_container = document.querySelector('.map_container');
      var enderecoInput = document.getElementById('endereco');
      var endereco = enderecoInput.value;
      let loading = document.querySelector('.loading_search');
      loading.classList.toggle('loading_search');

      try {
        const response = await fetch('https://nominatim.openstreetmap.org/search?format=json&q=' + encodeURIComponent(endereco));
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }

        const data = await response.json();

        if (data.length > 0) {
          loading.classList.toggle('loading_search');
          var lat = parseFloat(data[0].lat);
          var lng = parseFloat(data[0].lon);
          let zoom = 17;
          map.setView([lat, lng], zoom);
        } else {
          loading.classList.toggle('loading_search');
          alert('Endereço não encontrado. Certifique-se de digitar um endereço válido.');
        }
      } catch (error) {
        console.log('Erro ao pesquisar o endereço:', error);
      }
    }

    function limparCampo() {
      var enderecoInput = document.getElementById('endereco');
      enderecoInput.value = '';
    }

    const urlLocalImg = "{% static '/sti/img/attention.png' %}"
    const timedPoint = "{% static '/sti/img/timer.png' %}"
    var attentionIcon = L.icon({
      iconUrl: urlLocalImg,
      iconSize: [32, 32],
      iconAnchor: [16, 32],
      popupAnchor: [0, -32]
    });
    var timerIcon = L.icon({
      iconUrl: timedPoint,
      iconSize: [35, 35],
      iconAnchor: [16, 32],
      popupAnchor: [0, -32]
    });

    dadosMarcadores.forEach((dados) => {
      const lat = dados.latitude;
      const lng = dados.longitude;
      const descricao = dados.descricao;
      if (dados.temporary) {
        var marker = L.marker([lat, lng], { icon: timerIcon }).addTo(map);
        marker.bindPopup(descricao + '<br>' + `Evento: <b>${dados.date_initial}</b> à <b>${dados.date_final}</b>`);
      } else {
        var marker = L.marker([lat, lng], { icon: attentionIcon }).addTo(map);
        marker.bindPopup(descricao);
      }
    });

    pontosAtendimento.forEach(ponto => {
      ponto.addEventListener('click', function () {
        const lat = parseFloat(this.getAttribute('data-lat').replace(',', '.'));
        const lng = parseFloat(this.getAttribute('data-lng').replace(',', '.'));
        map.setView([lat, lng], 18);
      });
    });

  </script>

  <script>
    $(document).ready(function () {
      $('.location_escolha').select2();
      $('.aircraft_escolha').select2();
      $('.observer_pilot_escolha').select2();
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var selectField = document.getElementById("id_user");
      selectField.readonly = true;
    });
  </script>

  {% endblock %}