{% extends "base/base.html" %}
{% load static %}

<!-- styles -->
{% block style_sheet %}
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/select2/css/select2.min.css' %}">
<style>
  #id_arquivo_solicitacao {
    display: none;
  }

  .field_label {
    margin-top: 10px;
  }

  .form-switch {
    display: inline;
    margin-left: 10px;
  }
   /* fix select2 field height */
  .select2-selection,
  .select2-selection--single {
    height: 38px !important;
  }

  #select2-id_aeronave-container {
    height: 38px !important;
  }
</style>
{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Novo Relatório {% endblock %}

<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'rpa_manager:relatorios' %}">Relatórios</a></li>
  <li class="breadcrumb-item active">Novo relatório</li>
{% endblock %}

<!-- main container -->
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Criar novo relatório</h3>
        {{ form.errors }}
      </div>
      <form class="p-3" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.militar }}
        <div class="row">
          <div class="col-md-6">
            <label for="id_titulo" class="field_label">Título</label>
            {{ form.titulo }}
            {{ form.titulo.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_piloto_observador" class="field_label">Piloto Observador</label>
            {{ form.piloto_observador }}
            {{ form.piloto_observador.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="id_quem_autorizou" class="field_label">Quem Autorizou</label>
            {{ form.quem_autorizou }}
            {{ form.quem_autorizou.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_quem_solicitou" class="field_label">Quem Solicitou</label>
            {{ form.quem_solicitou }}
            {{ form.quem_solicitou.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="id_data" class="field_label">Data inicial</label>
            {{ form.data }}
            {{ form.data.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_data_final" class="field_label">Data final</label>
            {{ form.data_final }}
            {{ form.data_final.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="id_horario_inicial" class="field_label">Horário Inicial</label>
            {{ form.horario_inicial }}
            {{ form.horario_inicial.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_horario_final" class="field_label">Horário Final</label>
            {{ form.horario_final }}
            {{ form.horario_final.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="id_latitude" class="field_label">Latitude</label>
            {{ form.latitude }}
            {{ form.latitude.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_longitude" class="field_label">Longitude</label>
            {{ form.longitude }}
            {{ form.longitude.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="id_local" class="field_label">Local</label>
            {{ form.local }}
            {{ form.local.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_arquivo_solicitacao" class="field_label">Arquivo Solicitação do DECEA</label>
            <button type="button" class="btn btn-outline-primary ml-3 mt-6" id="fileButton">Selecionar Arquivo</button>
            {{ form.arquivo_solicitacao }}
            {{ form.arquivo_solicitacao.errors }}
            <p id="fileName"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="id_num_sarpas" class="field_label">Número de Sarpas</label>
            {{ form.num_sarpas }}
            {{ form.num_sarpas.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_entidade_apoiada" class="field_label">Entidade Apoiada</label>
            {{ form.entidade_apoiada }}
            {{ form.entidade_apoiada.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="id_natureza_de_voo" class="field_label">Natureza de Voo</label>
            {{ form.natureza_de_voo }}
            {{ form.natureza_de_voo.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_tipo_de_operacao" class="field_label">Tipo de Operação</label>
            {{ form.tipo_de_operacao }}
            {{ form.tipo_de_operacao.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="id_aeronave" class="field_label">Aeronave</label>
            {{ form.aeronave }}
            {{ form.aeronave.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_numero_ficha_oc" class="field_label">Número da ficha de ocorrência policial</label>
            {{ form.numero_ficha_oc }}
            {{ form.numero_ficha_oc.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="id_relato_da_missao" class="field_label">Relato da operação</label>
            {{ form.relato_da_missao }}
            {{ form.relato_da_missao.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="id_relato_da_missao" class="field_label">Encerrar operação? <small>marque a caixa ao lado:</small></label>
            {{ form.status_missao }}
          </div>
        </div>
        <div class="">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <a href="{% url 'rpa_manager:relatorios' %}">
            <button type="button" class="btn btn-warning">Cancelar</button>
          </a>
        </div>
    </div>
  </div>
  </form>
</div>
</div>
{% endblock content %}

<!-- javascripts -->
{% block js %}
<!-- DataTables  & Plugins -->
<script src="{% static 'adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>
<script>
  $(document).ready(function () {
    $('.local_escolha').select2()
  });
</script>
<script>
  document.getElementById("fileButton").addEventListener("click", function () {
    document.getElementById("id_arquivo_solicitacao").click();
  });
  document.getElementById("id_arquivo_solicitacao").addEventListener("change", function () {
    var fileName = document.getElementById("id_arquivo_solicitacao").files[0].name;
    document.getElementById("fileName").innerHTML = "Arquivo selecionado: " + fileName;
  });
</script>
{% endblock %}