{% extends "base/base.html" %}
{% load static %}

<!-- styles -->
{% block style_sheet %}
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/select2/css/select2.min.css' %}">
<style>
  .errorlist {
    list-style-type: none;
    color: red;
    /* Adicione outros estilos desejados */
  }

  .error-border {
    border: 1px solid red;
  }

  /* fix select2 field height */
  .select2-selection,
  .select2-selection--single {
    height: 38px !important;
  }

  #select2-id_aeronave-container {
    height: 38px !important;
  }
</style>
{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Criar nova avaliação de risco operacional {% endblock %}

<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'rpa_manager:painel' %}">Painel</a></li>
<li class="breadcrumb-item active">Nova avaliação de risco operacional</li>
{% endblock %}

<!-- main container -->
{% block content %}
<div class="col-md-12">
  <div class="card card-primary card-outline">
    <div class="card-header">
      <h3 class="card-title">Nova avaliação de risco operacional</h3>
    </div>
    <form class="p-3" method="post">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-12 mb-0 forms_inputs">
          <div class="row">
            <div class="col-md-6">
              <label for="id_operational_scenario">Cenário operacional</label>
              {{ form.operational_scenario }}
              {{ form.operational_scenario.errors }}
            </div>
            <div class="col-md-6">
              <label for="id_operator">Operador</label>
              {{ form.operator }}
              {{ form.operator.errors }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="id_date">Data realizada</label>
              {{ form.date }}
              {{ form.date.errors }}
            </div>
            <div class="col-md-6">
              <label for="id_date">Data de expiração</label>
              {{ form.expiration_date }}
              {{ form.expiration_date.errors }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="id_cpf">CNPJ</label>
              {{ form.cnpj }}
              {{ form.cnpj.errors }}
            </div>
            <div class="col-md-6">
              <label for="id_aircrafts">Aeronaves</label>
              {{ form.aircrafts }}
              {{ form.aircrafts.errors }}
            </div>
            <div class="col-md-6">
              <label for="id_keep_distance_from_3rd" class="mt-3">Manter distância de terceiro?</label>
              {{ form.keep_distance_from_3rd }} <small> Sim </small>
              {{ form.keep_distance_from_3rd.errors }} <br>
              <label for="id_pilots_capabilities">Piloto remoto ou Piloto observador precisa de capacitação?</label>
              {{ form.pilots_capabilities }} <small> SIM – Curso de Operador de RPAs – CORPA </small>
              {{ form.pilots_capabilities.errors }}
            </div>
          </div>
          <label for="id_apllied_legislation">Legislação aplicada</label>
          {{ form.apllied_legislation }}
          {{ form.apllied_legislation.errors }}

          <label for="id_accident_procedure">Procedimento em caso de acidente</label>
          {{ form.accident_procedure }}
          {{ form.accident_procedure.errors }}
          <label for="id_info_responsible">Responsável pelas informações:</label>  {{ user.username }}
          {{ form.info_responsible}}
        </div>
      </div>

      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Próximo</button>
        <a href="{% url 'rpa_manager:painel' %}">
          <button type="button" class="btn btn-warning">Cancelar</button>
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}

<!-- javascripts -->
{% block js %}
<script src="{% static 'adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>

<script>
  $(document).ready(function () {
    $('.local_escolha').select2();
    $('.aircrafts_escolha').select2();
  })
</script>
{% endblock %}