{% extends "base/base.html" %}
{% load static %}

<!-- styles -->
{% block style_sheet %}
    {% comment %} bacinf style_sheet {% endcomment %}

{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Deletar imagem {% endblock %}

<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
  {% comment %} <li class="breadcrumb-item active">Início</li> {% endcomment %}
{% endblock %}

<!-- main container -->
{% block content %}
  <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Deletar incidente <strong>{{ object.incidente }}</strong> </h3><br>
        <img src="{{ object.imageIncidente.medium.url }}" alt="">
      </div>
      <form class="p-3" method='post'>
        {% csrf_token %}
        <p>Tem certeza que dejesar excluir?</p>
        <div class="mt-3">
          <a href="{{ request.META.HTTP_REFERER }}"> 
          <button type="submit" class="btn btn-primary">Salvar</button>
          </a>
          <a href="{{ request.META.HTTP_REFERER }}"> 
            <button type="button" class="btn btn-warning">Cancelar</button>
          </a>
        </div>
      </form>          
  </div>
{% endblock content %}

<!-- javascripts -->
{% block js %}

{% endblock %}