{% extends "base/base.html" %}
{% load static %}

<!-- styles -->
{% block style_sheet %}
{% comment %} bacinf style_sheet {% endcomment %}
  <style>
    .detail_aircraft {
      display: flex;
      gap: 10px;
    }
    .report_details_card {
      width: 400px;
    }
    .detail_aircraft_img {
      height: 800px;
      margin: 0 auto;
    }
    .aircraft_img {
      width: 1000px;
      height: 783px;
      border-radius: 5px;
    }
    @media (max-width: 768px) {
      .detail_aircraft {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
      }

      .aircraft_img {
        width: 345px;
        height: 400px;
        border-radius: 5px;
      }
    }
  </style>
{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Operações aéreas {% endblock %}

<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
{% comment %} <li class="breadcrumb-item active">Início</li> {% endcomment %}
{% endblock %}

<!-- main container -->
{% block content %}
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">Dados aeronave</h3>
  </div> 

  <div class="detail_aircraft">
    <div class="card card-primary col-md-4 mt-3">
      <div class="card-body">
        <strong>Prefixo: </strong> {{ aeronave.prefix }} 
        <hr>
        <strong>Modelo: </strong> {{ aeronave.model }}
        <hr>
        <strong>Marca: </strong> {{ aeronave.brand }}
        <hr>
        <strong>Local: </strong> {{ aeronave.location }}
        <hr>
        <small>Aeronave está em: operação, disponível ou indisponível</small>
        <br>
        <strong>Status: </strong>
        {% if aeronave.in_use is True %}
        <span class="badge badge-warning">Em operação</span>
          <hr>
        {% elif aeronave.in_use == None %}
          <span class="badge badge-danger">Indisponível</span>
          <hr>
        {% else %}
          <span class="badge badge-success">Disponível</span>
          <hr>
          {% endif %}
      </div>
    </div>
    
    <div class="col-md-8">
     
     {% if aeronave.aircraft_image %}
      <div class="detail_aircraft_img mt-3 mr-3"><img class="aircraft_img" src="{{ aeronave.aircraft_image.url }}" alt="mavic enterprise"></div>
     {% endif %}
      
    </div>
</div>
{% endblock content %}

<!-- javascripts -->
{% block js %}
  <!-- DataTables  & Plugins -->
{% endblock %}