{% extends "base/base.html" %}
{% load static %}

<!-- styles -->
{% block style_sheet %}
{% comment %} bacinf style_sheet {% endcomment %}

{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Operações aéreas {% endblock %}

<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'rpa_manager:checklists' %}">Checklists</a></li>
  <li class="breadcrumb-item active">Dados checklist</li>
{% endblock %}

<!-- main container -->
{% block content %}
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">Dados checklist</h3>
  </div> 

  <div class="detail_aircraft">
    <div class="card card-primary col-md-4 mt-3">
      <div class="card-body">
        <strong>Piloto remoto: </strong> {{ checklist.piloto }} 
        <hr>
        <strong>Aeronave: </strong> {{ checklist.aeronave }} 
        <hr>
        <strong>Data: </strong> {{ checklist.data }}
        <hr>
        <strong>Horário: </strong> {{ checklist.horario }}
        <hr>
        <strong>Local: </strong> {{ checklist.alteracoes }}
        <hr>
      </div>
    </div>
</div>

{% endblock content %}

<!-- javascripts -->
{% block js %}
{% endblock %}