{% extends "base/base.html" %}
{% load static %}

<!-- styles -->
{% block style_sheet %}
{% comment %} bacinf style_sheet {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <style>
    .detail_risk {
      display: flex;
      gap: 10px;
    }
    .report_details_card {
      width: 400px;
    }
    .detail_risk_img {
      height: 800px;
      margin: 0 auto;
    }
    @media (max-width: 768px) {
      .detail_risk {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
      }
      .dtr-control::before {
        content: "\f107" !important; 
        font-family: "Font Awesome 5 Free" !important; 
        font-weight: 700 !important;
      }
    }
  </style>

{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Operações aéreas {% endblock %}

<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
{% comment %} <li class="breadcrumb-item active">Início</li> {% endcomment %}
{% endblock %}

<!-- main container -->
{% block content %}
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">Dados avaliação de risco operacional</h3>
  </div> 

  <div class="detail_risk">
    <div class="card card-primary col-md-4 mt-3">
      <div class="card-body">
        <strong>Operador: </strong> {{ risk_assessment.operator }} 
        <hr>
        <strong>Data: </strong> {{ risk_assessment.date }} 
        <hr>
        <strong>CPF: </strong> {{ risk_assessment.cpf }}
        <hr>
        <strong>Aeronaves: </strong> {{ risk_assessment.aircrafts.all|join:", " }}
        <hr>
        <strong>Legislação aplicável: </strong> <br> {{ risk_assessment.apllied_legislation }}
        <hr>
        <strong>Manter distância de terceiros </strong> {{ risk_assessment.keep_distance_from_3rd }}
        <hr>
        <strong>Piloto remoto ou Piloto observador precisa de curso </strong> {{ risk_assessment.pilots_capabilities }}
        <hr>
        <strong>Procedimento em caso de acidente </strong> <br> <p style="text-align: justify;">{{ risk_assessment.accident_procedure }}</p>
        <hr>
      </div>
    </div>
    
    <div class="col-md-8 mt-3">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title">Análises de risco</h3>
        </div>
        <div class="card-body">
          <div id="objects_list_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <table id="objects_list" class="table table-bordered table-striped dataTable dtr-inline" role="grid"
              aria-describedby="objects_list_info" width="100%">
              <thead class="tabela_cabecalho">
                <tr>
                  <th scope="col">Situação</th>
                  <th scope="col">Probabilidade de ocorrência</th>
                  <th scope="col">Severidade da ocorrência</th>
                  <th scope="col">Risco</th>
                  <th scope="col">Tolerabilidade</th>
                  <th scope="col">Nível hierárquico de autorização da operação</th>
                  <th class="removerDoPdf" scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for assessment in risk_assessment.assessment_set.all %}
                <tr>
                  <td>{{ assessment.situation }}</td>
                  <td>{{ assessment.probability_of_occurrence }}</td>
                  <td>{{ assessment.severity_of_occurrence }}</td>
                  <td>{{ assessment.risk }}</td>
                  <td>{{ assessment.tolerability }}</td>
                  <td>{{ assessment.hierarchy_authorization }}</td>
                  <td>
                    <div class="btn-group" style="display: flex; align-items: center; align-content: center;">
                      <button type="button" class="btn btn-outline-info dropdown-toggle dropdown-icon" data-toggle="dropdown"
                        aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                        Filtros
                      </button>
                      <div class="dropdown-menu" role="menu" style="">
                        <a class="dropdown-item" href="{% url 'rpa_manager:update_assessment' assessment.id %}">Editar análise</a>
                        {% if request.user.is_superuser %}
                          <a class="dropdown-item" href="{% url 'rpa_manager:delete_assessment' assessment.id %}">Excluir análise</a>
                        {% endif %}
                      </div>
                    </div>
                  </td> 
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- javascripts -->
{% block js %}
  <!-- DataTables  & Plugins -->
  <script src="{% static 'adminlte-3.1.0/plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/jszip/jszip.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/pdfmake/pdfmake.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/pdfmake/vfs_fonts.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
  <script>
    var table = $('#objects_list').DataTable( {
        lengthChange: false,
        buttons: [ 'pageLength',
        {
          extend: 'excel',
          text: 'Excel',
          exportOptions: {
            columns: ':not(.removerDoPdf)'
          }
        },
        {
          extend: 'print',
          text: 'Imprimir',
          exportOptions: {
            columns: ':not(.removerDoPdf)'
          }
        },
        'colvis'
      ],
        dom: "<'row'<'col-sm-12 col-md-6'B><'col-sm-12 col-md-6'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        language: { "url": "//cdn.datatables.net/plug-ins/1.11.1/i18n/pt_br.json" },
        responsive: true,
        searching: true,
        processing: true,
        columnDefs: [{ "width": "150px", targets: [-1]}]
    } );
  </script>
{% endblock %}