{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p, li {
            font-size: 15px;
        }
        ul {
            list-style-type: '- ';
        }
        table, th, td{
            border: 1px solid black;
        }
        .content-header {
            display: flex;
        }
        /*
        .container {
            margin: 0 400px;
        }
        */
        .header-img {
            display: inline;
        }
        .pmpb_logo {
            width: 90px !important;
            height: 110px !important;
        }
        .header {
            display: flex;
            flex-direction: column;
        }
        .main-title, .main-subtitle {
            text-align: center;
        }
        .main-intro-topic {
            text-decoration: underline;
        }
        .main-table {
            text-align: center;
            width: 100%;
        }
        .main-table-header {
            width: 30%;
            background-color: lightgrey;
        }
        .main-table-risk-avoiding {
            background-color: yellow;
            font-weight: bold;
        }
        .main-tolerability-img {
            /* margin-left: 50px; */
            max-width: 100%;
        }
        .main-content-tolerability li {
            text-align: justify;
        }
        .responsible_sign {
            display: inline;
            width: 50%;
            margin-left: 120px;
        }
    </style>
</head>
<body>
    <section class="container content-header" id="pmpb-header">
        <div class="header-img">
            <img src="{% static 'sti/img/pmpb_128.png' %}" alt="pmpb_logo" class="pmpb_logo">
        </div>
        <div class="header">
            <div>
                <p>POLÍCIA MILITAR DA PARAÍBA</p>
            </div>
            <div>
                <p>COMANDO DE OPERAÇÕES AÉREAS – COA</p>
            </div>
            <div>
                <p>AERONAVES NÃO TRIPULADAS – SUBGRUPO RPA</p>
            </div>
        </div>
    </section>

    <section class="container">
        <h3 class="main-title">AVALIAÇÃO DE RISCO OPERACIONAL</h3>
        <h3 class="main-subtitle">Em cumprimento ao parágrafo [E94.103(f)(2) ou E94.103(g)(2)] do RBAC-E nº 94 da ANAC</h3>

        <div class="content-main" >
            <p><strong>Operador:</strong>  {{ risk_assessment.operator }}</p> 
            <p><strong>CNPJ:</strong>  {{ risk_assessment.cnpj }}</p> 
            <p><strong>Aeronaves:</strong> {{ risk_assessment.aircrafts.all|join:", " }}</p>
            <p><strong>Cenário operarional:</strong> {{ risk_assessment.operational_scenario }}</p>

            <h2 class="main-intro-topic">Aspectos gerais:</h2>
            <ul>
                <li>Legislação aplicável: {{ risk_assessment.apllied_legislation }}</li>
                <li>O operador é obrigado a se manter em áreas distantes de terceiros?
                    
                    {% if risk_assessment.keep_distance_from_3rd == True %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}
                        
                </li>
                <li>Os pilotos remotos e observadores devem passar por algum treinamento inicial ou periódico específico provido pela instituição?
                    
                    {% if risk_assessment.pilots_capabilities == True %}
                        Sim - Curso de Operador de RPAs – CORPA
                    {% else %}
                        Não
                    {% endif %}
                        
                </li>
            </ul>

            <p>Em caso de acidente com lesões a pessoas, quem acionar? Como proceder? {{ risk_assessment.accident_procedure }}</p>

            <h2 class="main-subtitle main-intro-topic">AVALIAÇÃO DO RISCO</h2>

            
            {% for assessment in assessments %}
                <table class="main-table">
                    <thead>
                        <th class="main-table-header">Situação</th>
                        <th class="main-table-header"> {{ assessment.situation }} </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Probabilidade de ocorrência</td>
                            <td>{{ assessment.probability_of_occurrence }}</td>
                        </tr>
                        <tr>
                            <td>Severidade da ocorrência</td>
                            <td>{{ assessment.severity_of_occurrence }}</td>
                        </tr>
                        <tr>
                            <td>Risco</td>
                            <td>{{ assessment.risk }}</td>
                        </tr>
                        <tr>
                            <td>Tolerabilidade</td>
                            <td>{{ assessment.tolerability }}</td>
                        </tr>
                        <tr>
                            <td>Nível hierárquico de autorização da operação</td>
                            <td>{{ assessment.hierarchy_authorization }}</td>
                        </tr>
                        <tr class="main-table-risk-avoiding">
                            <td>MEDIDAS DE MITIGAÇÃO DO RISCO</td>
                            <td>{{ assessment.mitigation_measures_risk }}</td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}
            
            <br>
            <h2 class="main-intro-topic" style="display: inline">Matriz de risco:</h2> <span>modelo IS nº E94-003</span>

            <h3 class="main-intro-topic">Probabilidade da ocorrência:</h3>
            <ul>
                <li>Nível 5 (frequente): é provável que ocorra muitas vezes, ou historicamente tem ocorrido frequentemente;</li>
                <li>Nível 4 (ocasional): é provável que ocorra algumas vezes, ou historicamente tem ocorrido com pouca frequência;</li>
                <li>Nível 3 (remoto): é improvável, mas é possível que venha a ocorrer, ou ocorre raramente;</li>
                <li>Nível 2 (improvável): é bastante improvável que ocorra e não se tem notícia de que tenha alguma vez ocorrido; e</li>
                <li>Nível 1 (muito improvável): é quase impossível que o evento ocorra.</li>
            </ul>
            <h3 class="main-intro-topic">Severidade da ocorrência:</h3>
            <ul>
                <li>Nível A (catastrófico): morte de múltiplas pessoas;</li>
                <li>Nível B (crítico): morte de pessoa, lesões gravíssimas, capazes de deixar sequelas significativas e/ou incapacitantes, tais como cegueira, paralisia, amputações, etc.;</li>
                <li>Nível C (significativo): lesões sérias a pessoas, mas não incapacitantes nem com sequelas significativas;</li>
                <li>Nível D (pequeno): incidentes menores, danos a objetos, animais ou vegetação no solo, lesões leves;</li>
                <li>Nível E (insignificante): somente danos ao equipamento.</li>
            </ul>
            <h3 class="main-intro-topic">Tolerabilidade:</h3>
            <div>
                <img src="{% static 'sti/img/table-anac.png' %}" alt="pmpb_logo" class="main-tolerability-img">
            </div>

            <ul class="main-content-tolerability">
                <li><span style="color: red; font-weight: bold;">Risco extremo</span> (classificações 4A, 5A e 5B): a operação não deve ocorrer e, caso esteja ocorrendo, deve cessar imediatamente, enquanto persistir a condição ou até que medidas mitigadoras suficientes reduzam o risco para um nível aceitável pelo operador. Caso ainda se decida prosseguir com a operação, controles preventivos para mitigação do risco devem ser estabelecidos, devem estar em vigor e a aprovação da hierarquia mais alta da empresa (presidente) deve ser requerida.</li>
                <li><span style="color: #854010; font-weight: bold;">Alto risco</span> (classificações 3A, 4B e 5C): a operação não deveria ocorrer e, caso esteja ocorrendo, deveria cessar imediatamente, enquanto persistir a condição ou até que medidas mitigadoras suficientes reduzam o risco para um nível aceitável pelo operador. Caso ainda se decida prosseguir com a operação, controles preventivos para mitigação do risco devem ser estabelecidos, devem estar em vigor e a aprovação da hierarquia de gestão da empresa (gerente ou diretor) deve ser requerida.</li>
                <li><span style="color: blue; font-weight: bold;">Risco moderado</span> (classificações 1A, 2A, 2B, 3B, 3C, 4C, 4D, 5D, 5E): a operação pode ocorrer com controles preventivos para mitigação do risco estabelecidos e que devem estar em vigor, conforme necessários. Operações neste nível de risco deveriam ser aprovadas por nível hierárquico imediatamente superior (chefia imediata).</li>
                <li><span style="color: #FF9900; font-weight: bold;">Baixo risco</span> (classificações 1B, 1C, 2C, 2D, 3D, 3E, 4E): a operação pode ocorrer e controles preventivos para mitigação de risco e aprovação por nível hierárquico imediatamente superior (chefia imediata) são opcionais.</li>
                <li><span style="color: green; font-weight: bold;">Risco muito baixo</span> (classificações 1D, 1E e 2E): a operação é aceitável como concebida, e nenhum controle preventivo para mitigação de risco e aprovação é requerida para que ela ocorra.</li>
            </ul>

            <h3 class="main-intro-topic">Disposições finais:</h3>

            <p style="text-align: justify">Declaro para os devidos fins que todos os pilotos remotos conhecem e cumprem a legislação e regulamentação aplicáveis, em especial as acima listadas, assim como conhecem as consequências do descumprimento.</p>

            <p>Responsável pelas informações: {{ risk_assessment.info_responsible }}</p>

            <p>Data e assinatura: {{ risk_assessment.date|date:"d/m/Y" }} </p>

            {% if risk_assessment.responsible_sign %}
                <img src="{{ risk_assessment.responsible_sign.url }}" alt="assinatura" class="responsible_sign">
            {% else %}
                <br>
                <span class="responsible_sign">___________________________________________</span>
            {% endif %}

            <p style="text-align: center">Esta avaliação de risco operacional é válida até: {{ risk_assessment.expiration_date|date:"d/m/Y" }}  </p>
        </div>
    </section>
</body>
</html>