{% extends "base/base.html" %}
{% load static %}

<!-- styles -->
{% block style_sheet %}
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/select2/css/select2.min.css' %}">
<style>
  #id_arquivo_solicitacao {
    display: none;
  }

  .field_label {
    margin-top: 10px;
  }

  .form-switch {
    display: inline;
    margin-left: 10px;
  }
</style>
{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Editar Caderneta {% endblock %}

<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'rpa_manager:relatorios' %}">Cadernetas</a></li>
  <li class="breadcrumb-item active">Editar Caderneta</li>
{% endblock %}

<!-- main container -->
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Editar Caderneta</h3>
        {{ form.errors }}
      </div>
      <form class="p-3" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.remote_pilot }}
        <div class="row">
          <div class="col-md-6">
            <label for="id_title" class="field_label">Título</label>
            {{ form.title }}
            {{ form.title.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_observer_pilot" class="field_label">Piloto Observador</label>
            {{ form.observer_pilot }}
            {{ form.observer_pilot.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="id_who_authorized" class="field_label">Quem Autorizou</label>
            {{ form.who_authorized }}
            {{ form.who_authorized.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_who_requested" class="field_label">Quem Solicitou</label>
            {{ form.who_requested }}
            {{ form.who_requested.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="id_date" class="field_label">Data inicial</label>
            {{ form.date }}
            {{ form.date.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_final_date" class="field_label">Data final</label>
            {{ form.final_date }}
            {{ form.final_date.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="id_initial_time" class="field_label">Horário Inicial</label>
            {{ form.initial_time }}
            {{ form.initial_time.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_final_time" class="field_label">Horário Final</label>
            {{ form.final_time }}
            {{ form.final_time.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="id_latitude" class="field_label">Latitude</label>
            {{ form.latitude }}
            {{ form.latitude.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_longitude" class="field_label">Longitude</label>
            {{ form.longitude }}
            {{ form.longitude.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="id_location" class="field_label">Local</label>
            {{ form.location }}
            {{ form.location.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_decea_request_file" class="field_label">Arquivo Solicitação do DECEA</label>
            <button type="button" class="btn btn-outline-primary ml-3 mt-6" id="fileButton">Selecionar Arquivo</button>
            {{ form.decea_request_file }}
            {{ form.decea_request_file.errors }}
            <p id="fileName"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="id_num_sarpas" class="field_label">Número de Sarpas</label>
            {{ form.num_sarpas }}
            {{ form.num_sarpas.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_entity_support" class="field_label">Entidade Apoiada</label>
            {{ form.entity_support }}
            {{ form.entity_support.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="id_flight_nature" class="field_label">Natureza de Voo</label>
            {{ form.flight_nature }}
            {{ form.flight_nature.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_type_of_operation" class="field_label">Tipo de Operação</label>
            {{ form.type_of_operation }}
            {{ form.type_of_operation.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="id_aircraft" class="field_label">Aeronave</label>
            {{ form.aircraft }}
            {{ form.aircraft.errors }}
          </div>
          <div class="col-md-6">
            <label for="id_police_incident_number" class="field_label">Número da ficha de ocorrência policial</label>
            {{ form.police_incident_number }}
            {{ form.police_incident_number.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="id_operation_report" class="field_label">Relato da operação</label>
            {{ form.operation_report }}
            {{ form.operation_report.errors }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="id_completed" class="field_label">Encerrar operação? <small>marque a caixa ao lado:</small></label>
            {{ form.completed }}
          </div>
        </div>
    </div>
  </div>
  <div class="mt-3 ml-2 mb-3">
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{% url 'rpa_manager:relatorios' %}">
      <button type="button" class="btn btn-warning">Cancelar</button>
    </a>
  </div>
  </form>
</div>
</div>
{% endblock content %}

<!-- javascripts -->
{% block js %}
<!-- DataTables  & Plugins -->
<script src="{% static 'adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>
<script>
  document.getElementById("fileButton").addEventListener("click", function () {
    document.getElementById("id_decea_request_file").click();
  });
  document.getElementById("id_decea_request_file").addEventListener("change", function () {
    var fileName = document.getElementById("id_decea_request_file").files[0].name;
    document.getElementById("fileName").innerHTML = "Arquivo selecionado: " + fileName;
  });
</script>
{% endblock %}