{% extends "base/base.html" %}
{% load static %}

<!-- styles -->
{% block style_sheet %}
{% comment %} bacinf style_sheet {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/select2/css/select2.min.css' %}">
{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Editar guarnição {% endblock %}

<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'rpa_manager:painel' %}">Painel</a></li>
  <li class="breadcrumb-item active">Editar guarnição</li>
{% endblock %}

<!-- main container -->
{% block content %}
  
<div class="row">
  <div class="col-md-12">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Editar guarnição</h3>
      </div>
      <form class="p-3" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-12 mb-0">
            {{ form.errors }}
            <label for="#" class="piloto_observador">Piloto remoto</label>
            <br>{{ user.username }}<br><hr>
            <label for="id_piloto_observador" class="quem_solicitou">Piloto observador</label>
            {{ form.piloto_observador}}
            {{ form.piloto_observador.errors }}
            <label for="id_motorista" class="titulo_operacao">Motorista</label>
            {{ form.motorista }}
            {{ form.motorista.errors }}
            <label for="id_telefone" class="quem_autorizou">Telefone</label>
            {{ form.telefone }}
            {{ form.telefone.errors }}
            <label for="id_local" class="local">Local</label>
            {{ form.local }}
            {{ form.local.errors }}

            {{ form.piloto_remoto }}
          </div>
        </div>
        
        <div class="mt-3">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <a href="{% url 'rpa_manager:checklist_form' %}">
            <button type="button" class="btn btn-warning">Cancelar</button>
          </a>
        </div>
      </form>
    </div>
  </div>

{% endblock content %}

<!-- javascripts -->
{% block js %}
<!-- DataTables  & Plugins -->
  <script src="{% static 'adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>
  <script>
    const error = document.getElementsByClassName('errorlist');
    let pilot_error = "piloto_remotoO piloto remoto não pode ser o mesmo que o piloto observador.O piloto observador não pode ser o mesmo que o piloto remoto."
    console.log();

    if(error[0].textContent.includes('_all_')) {
      error[0].textContent = error[0].textContent.replace('__all__', '')
    } 
    if(error[0].textContent.includes('piloto_observador')) {
      error[0].textContent = error[0].textContent.replace('piloto_observador', '')
    } 
    if(error[0].textContent.includes('piloto_remotoO piloto')) {
      console.log('cheguei aqui')
      error[0].textContent = error[0].textContent.replace(pilot_error, 'Piloto remoto e observador não podem ser o mesmo.')
    } 
  </script>
{% endblock %}