{% extends "base/base.html" %}
{% load static %}

<!-- styles -->
{% block style_sheet %}
  {% comment %} bacinf style_sheet {% endcomment %}
  <style>
    .novo_checklist {
      display: flex;
      justify-content: center;
  }
  
  .formulario_checklist_parte1 {
      display: flex;
      flex-direction: column;
      gap: 10px; 
      max-width: 100%;   
  }
  
  .formulario_checklist_selecao_itens, .formulario_checklist_parte2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
      max-width: 100%%;
  }
  
  .formulario_checklist_titulo_selecao {
      margin-top: 50px;
      margin-bottom: 50px;
  }
  
  .checklist_item {
      width: 30px;
      height: 30px;
  }
  
  .formulario_checklist_parte2 > input {
      margin-left: 100px;
  }
  
  .container_alteracoes_titulo {
      margin-top: 1rem;
  }
  
  #id_alteracoes {
      margin-top: 20px;
  }
  
  .edicao_checklist {
      display: none;
  }
  .formulario_checklist_alteracoes {
    max-width: 100%;
  }

  .formulario_checklist_parte2 > input {
    width: 1rem;
  }
  
  /* Correção da altura do campo selec2 */
  .select2-selection, .select2-selection--single{
    height: 38px !important;
  }

  #select2-id_aeronave-container {
    height: 38px !important;
  }

  #equipes-container {
    width: 100rem;
  }

  .card_content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
  }

  .card_user_image {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }

  /* handle cards style */
  #equipes-container {
    width: 100rem;
    max-width: 100%;
  }

  .card_content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
  }

  .card_gu_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 200px; /* Defina o limite de altura desejado aqui */
  }
  .card_user_image {
    display: grid;
    grid-template-columns: 80px 80px;
    grid-template-columns: 80px 80px;
    gap: 10px;
    align-items: center;
    max-height: 200px; /* Defina o limite de altura desejado aqui */
  }

  /* Make the alignment of images */
  .grid-container_for-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Três colunas com mesmo tamanho */
    gap: 10px; /* Espaçamento entre as divs (opcional) */
  }  

  .large-image {
    grid-column: 1 / span 3; /* A primeira imagem ocupa três colunas */
  }
  
  .img-circle {
    border-radius: 50%; /* Para deixar as imagens redondas (opcional) */
  }
  
  .img-fluid {
    width: 100%; /* Para ocupar todo o espaço disponível na div */
  }

  .hover-zoom {
    transition: transform 0.3s ease; /* Adiciona uma transição suave para o efeito hover */
  }
  
  .hover-zoom:hover {
    transform: scale(3.0); /* Aumenta o tamanho da imagem em 20% no hover */
  }

  .hidden {
    display: none;
  }

  /* handle checklist images */
  .hidden {
    display: none;
  }
  #id_imageIncidente {
    display: none;
  }
  #fileList {
    display: none;
  }
  .temp_images_view {
    display: flex;
    flex-wrap: nowrap;
    max-height: 200px; /* Adjust the max height to control overflow */
    overflow-x: auto;
  }
  
  .temp_images_view img {
    margin: 5px;
    max-width: 150px; /* Adjust the max width of each image as needed */
    max-height: 150px; /* Adjust the max height of each image as needed */
  }
  
  .temp_images_view_edit {
    display: flex;
    flex-wrap: nowrap;
    max-height: 200px; /* Adjust the max height to control overflow */
    overflow-x: auto;
  }
  .temp_images_view_edit img {
    margin: 5px;
    max-width: 150px; /* Adjust the max width of each image as needed */
    max-height: 150px; /* Adjust the max height of each image as needed */
  }
  
  @media (max-width: 768px) {
    .formulario_checklist_selecao_itens {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        max-width: 800px;
    }

    /* handle cards style */
    .card_gu_info {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
    }

    .grid-container_for-images {
      display: flex;
      flex-direction: column;
    }  
}
</style>
{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Editar checklist {% endblock %}

<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'rpa_manager:checklists' %}">Checklist</a></li>
  <li class="breadcrumb-item active">Editar checklist</li>
{% endblock %}

<!-- main container -->
{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Editar checklist</h3>
      </div>
      <form  class="p-3" method='post' enctype="multipart/form-data">
        {% csrf_token %}

        {% comment %} Esta variavel verifica se o form esta sendo editado e carrega {% endcomment %}
        {% comment %} a lista de itens a serem avaliados {% endcomment %}
        <p class="edicao_checklist">{{ edicao_checklist }}</p> 

        <div class="container formulario_checklist_parte1">
          {{ form.piloto }}
          <label for="id_aeronave">Aeronave</label>
          Selecione uma aeronave para iniciar o checklist
          {{ form.aeronave }}
          <input type="hidden" name="aeronave_id" value="{{ form.aeronave.value }}">
          <label for="id_num_helices">Número de hélices</label>
          {{ form.num_helices }}
          <label for="id_num_baterias">Número de baterias</label>
          {{ form.num_baterias }}
        </div>

        <h2 class="formulario_checklist_titulo_selecao">Marcar itens que estão Ok </h2>
        <div class="formulario_checklist_selecao_itens ">
          <div class="container formulario_checklist_parte2">
            <label for="id_baterias_carregadas">Baterias carregadas</label>
            {{ form.baterias_carregadas }}
            <label for="id_bateria_controle_carregada">Bateria controle carregada</label>
            {{ form.bateria_controle_carregada }}
            <label for="id_corpo">Corpo/Shell</label>
            {{ form.corpo }}
            <label for="id_hastes_motor">Hastes</label>
            {{ form.hastes_motor }}
            <label for="id_helices">Hélices</label>
            {{ form.helices }}
            <label for="id_gimbal">Gimbal</label>
            {{ form.gimbal }}
            <label for="id_holofote">Holofote</label>
            {{ form.holofote }}
            <label for="id_auto_falante">Auto-falante</label>
            {{ form.auto_falante }}
            <label for="id_luz_estroboscopica">Luz Estroboscópica</label>
            {{ form.luz_estroboscopica }}
            <label for="id_cabos">Cabos</label>
            {{ form.cabos }}
            <label for="id_carregador">Carregador</label>
            {{ form.carregador }}
          </div>

          <div class="p-3 formulario_checklist_parte2 ">
            <label for="id_fonte">Fonte de energia</label>
            {{ form.fonte }}
            <label for="id_smart_controller">Smart controller</label>
            {{ form.smart_controller }}
            <label for="id_controle">Controle remoto</label>
            {{ form.controle }}
            <label for="id_cartao_sd">Cartão SD</label>
            {{ form.cartao_sd }}
            <label for="id_IMU">IMU</label>
            {{ form.IMU }}
            <label for="id_compass">Compass/Bússola</label>
            {{ form.compass }}
            <label for="id_sinal_transmissao">Sinal de transmissão</label>
            {{ form.sinal_transmissao }}
            <label for="id_sistema_rtk_ppk">Sistema RTK PPK</label>
            {{ form.sistema_rtk_ppk }}
            <label for="id_paraquedas">Paraquedas</label>
            {{ form.paraquedas }}
            <label for="id_sinal_de_video">Sinal de vídeo</label>
            {{ form.sinal_de_video }}
            <label for="id_telemetria">Telemetria</label>
            {{ form.telemetria }}
          </div>
        </div>

        <div class="ml-1 mr-3 mt-3">
          <label for="id_operacao">Imagens de alterações</label>
          <input type="file" id="id_imageIncidente", name="imagens" multiple>
          <button type="button" class="btn btn-outline-primary ml-3" id="fileButton">Selecionar Arquivo</button>
          <p id="fileName"></p>
          <p id="fileList"></p>
          <div class="temp_images_view"></div>

          {% if request.resolver_match.url_name == 'editar_checklist' %}
            {% if images %}
              <label for="">Imagens carregadas</label>
            {% else %}
              <label for="">Não há Imagens carregadas</label>
            {% endif %}
              
            <div class="temp_images_view_edit">
              {% if images %}
                {% for img in images %}
                <a href="{% url 'rpa_manager:delete_image_checklist' img.pk %} ">
                  <img src="{{ img.imageChecklist.url }}" alt="Image" class="imagem-checklist" data-id="{{ img.pk }}">
                </a>
                {% endfor %}
              {% else %}
              {% endif %}                
            </div>         
          {% endif %}
        </div>

        <div class="container formulario_checklist_alteracoes">
          <h4 class="formulario_checklist_titulo_selecao">Caso algum item não esteja ok, descrever abaixo as
            alterações:</h4>
          <label class="container_alteracoes_titulo" for="id_alteracoes">Alterações</label>
          <input type="button" class="btn btn-outline-danger ml-3 botao_limpar" value="Limpar" onclick="limpaAlteracoes();" /><br>
          {{ form.alteracoes }}
        </div>
        <div class="mt-3">
          {{ form.errors }}
          <button type="submit" class="btn btn-primary">Salvar</button>
          <a href="{% url 'rpa_manager:checklists' %}">
              <button type="button" class="btn btn-warning">Cancelar</button>
          </a>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

<!-- javascripts -->
{% block js %}
  <!-- DataTables  & Plugins -->

  <script>
    let checkboxes = document.querySelectorAll('.checklist_item');
    let textAreaContent = document.querySelector("#id_alteracoes");
    let listaDeAlteracoes = []


    checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            if(!checkbox.checked) {
                listaDeAlteracoes.push(checkbox.previousElementSibling.textContent);
                adicionaTextoEmTextArea(listaDeAlteracoes);
            } else if(listaDeAlteracoes.includes(checkbox.previousElementSibling.textContent)) {
                let indice =  listaDeAlteracoes.indexOf(checkbox.previousElementSibling.textContent);
                listaDeAlteracoes.splice(indice, 1);
            }
        })
    })

    function adicionaTextoEmTextArea(vetor) {
        vetor.forEach(function(indice) {
            if(!textAreaContent.value.includes(indice)) {
                textAreaContent.value += indice + ':' + '\n';
            } 
        })
    }

    function limpaAlteracoes() {
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = true;
        })
        textAreaContent.value = '';
        listaDeAlteracoes = [];
    }
  </script>
  <script>  
    $(document).ready(function() { 
      $(".aeronave_escolha").on('change', function() {
        let aeronave_selecionada = $(this).val();
        console.log(aeronave_selecionada);
        
        if (aeronave_selecionada === '1') {
            console.log("Aeronave 68 selecionada");
            $('input[name="holofote"]').show();
            $('label[for="id_holofote"]').show();

            $('input[name="auto_falante"]').show();
            $('label[for="id_auto_falante"]').show();

            $('input[name="luz_estroboscopica"]').show();
            $('label[for="id_luz_estroboscopica"]').show();

            $('input[name="smart_controller"]').show();
            $('label[for="id_smart_controller"]').show();

            $('input[name="controle"]').hide();
            $('label[for="id_controle"]').hide();
        } else {
            $('input[name="holofote"]').hide();
            $('label[for="id_holofote"]').hide();

            $('input[name="auto_falante"]').hide();
            $('label[for="id_auto_falante"]').hide();

            $('input[name="luz_estroboscopica"]').hide();
            $('label[for="id_luz_estroboscopica"]').hide();

            $('input[name="smart_controller"]').hide();
            $('label[for="id_smart_controller"]').hide();

            $('input[name="controle"]').show();
            $('label[for="id_controle"]').show();
        }
      });
        
    });
  </script>

  <script>
    const fileInput = document.getElementById("id_imageIncidente");
    const fileList = document.getElementById('fileList');
    const tempImagesView = document.querySelector('.temp_images_view');
  
    document.getElementById("fileButton").addEventListener("click", function() {
      fileInput.click();
    });
  
    fileInput.addEventListener("change", function() {

      const files = fileInput.files;
      let fileListText = '';
  
      for (let i = 0; i < files.length; i++) {
        fileListText += files[i].name + '<br>';
      }
  
      fileList.innerHTML = fileListText;
  
      // Remove previous images from the tempImagesView
      tempImagesView.innerHTML = '';
  
      // Display image previews
      for (let i = 0; i < files.length; i++) {
        const file = files[i];
        const reader = new FileReader();
  
        reader.onload = function(e) {
          const img = document.createElement('img');
          img.src = e.target.result;
          img.alt = file.name;
          tempImagesView.appendChild(img);
        };
  
        reader.readAsDataURL(file);
      }
    });
  </script>

  <script>
    // Capturando todos os elementos com a classe 'imagem-checklist'
    const imagensIncidente = document.querySelectorAll('.imagem-checklist');

    imagensIncidente.forEach(imagem => {
        imagem.addEventListener('click', (event) => {
            event.preventDefault(); // Prevenir o comportamento padrão do link

            // Obtendo o ID da imagem do atributo 'data-id'
            const imagemId = imagem.dataset.id;

            // Exibindo o alerta de confirmação antes de deletar a imagem
            const confirmarExclusao = window.confirm("Tem certeza que deseja excluir esta imagem?");

            if (confirmarExclusao) {

              const localhostUrl = `http://127.0.0.1:8000/rpa_manager`;

                // Enviando a requisição para deletar a imagem
                fetch(`${localhostUrl}/delete_image_checklist/${imagemId}/`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'), // Garante que o Django aceitará a requisição
                    }
                }).then(response => {
                    if (response.ok) {
                      window.location.reload();
                    } else {
                        alert('A requisição falhou.');
                    }
                }).catch(error => {
                    console.error('Erro ao deletar a imagem:', error);
                });
            }
        });
    });

    // Função auxiliar para obter o valor do cookie 'csrftoken'
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
  </script>
{% endblock %}
