{% extends "base/base.html" %}
{% load static %}

{% block style_sheet %}
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
<style>
  .map_options {
    display: flex;
    gap: 10px;
  }

  /* Estilo para o ícone "x" */
  .input-container {
    position: relative;
    width: 400px;
  }

  .clear-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  /* fix select2 field height */
  .select2-selection,
  .select2-selection--single {
    height: 38px !important;
  }

  #select2-id_aeronave-container {
    height: 38px !important;
  }

  /* Menu collapse para pontos de interesse */
  .card_atendimento:hover {
    background-color: rgba(220, 220, 220, 1) !important;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
  }

  .card_atendimento:nth-child(even) {
    background-color: rgba(220, 220, 220, 0.3);
  }

  .loading_search {
    display: none;
  }

  @media (max-width: 768px) {
    .map_options {
      display: flex;
      flex-direction: column;
    }

    .input-container {
      position: relative;
      width: 100%;
    }
  }
</style>
{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Editar Operação {% endblock %}

<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'rpa_manager:principal' %}">Operações</a></li>
  <li class="breadcrumb-item active">Editar operação</li>
{% endblock %}

<!-- main container -->
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Editar operação</h3>
      </div>

      <form class="p-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-12 mb-0">
            <div class="row mt-3">
              <div class="col-md-6">
                <label for="id_piloto_remoto" class="piloto_remoto">Piloto Remoto</label>
                <br>{{ user.username }}<br>
              </div>
            </div>
            <hr>
            <div class="row mt-3">
              <div class="col-md-6">
                <label for="id_titulo" class="titulo_operacao">Título da Operação</label>
                {{ form.titulo }}
                {{ form.titulo.errors }}
              </div>
              <div class="col-md-6">
                <label for="id_piloto_observador" class="piloto_observador">Piloto Observador</label>
                {{ form.piloto_observador }}
                {{ form.piloto_observador.errors }}
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <label for="id_quem_solicitou" class="quem_solicitou">Quem Solicitou</label>
                {{ form.quem_solicitou }}
                {{ form.quem_solicitou.errors }}
              </div>
              <div class="col-md-6">
                <label for="id_quem_autorizou" class="quem_autorizou">Quem Autorizou</label>
                {{ form.quem_autorizou }}
                {{ form.quem_autorizou.errors }}
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <label for="id_aeronave" class="aeronave">Aeronave</label>
                {{ form.aeronave }}
                {{ form.aeronave.errors }}
              </div>
              <div class="col-md-6">
                <label for="id_local" class="local">Local</label>
                {{ form.local }}
                {{ form.local.errors }}
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <label for="id_latitude" class="local">Ponto de Decolagem: Latitude</label>
                {{ form.latitude }}
                {{ form.latitude.errors }}
              </div>
              <div class="col-md-6">
                <label for="id_longitude" class="local">Ponto de Decolagem: Longitude</label>
                {{ form.longitude }}
                {{ form.longitude.errors }}
              </div>
            </div>
            {{ form.usuario }}
          </div>
        </div>


        <div class="map_options">
          <button type="button" class="btn btn-outline-primary ml-3 mt-3" onclick="inserirPontoDecolagem();">Inserir
            Ponto de
            Decolagem</button>
          <div class="input-container mt-3">
            <input type="text" class="form-control" id="endereco" placeholder="Digite o endereço" />
            <i class="fas fa-times-circle clear-icon" onclick="limparCampo()"></i>
          </div>
          <button type="button" class="btn btn-outline-info mt-3" onclick="pesquisarEndereco()">Pesquisar
            Endereço</button>
          <div class="loading_search">
            <p style="margin-top: 25px;">Pesquisando...</p>
          </div>
        </div>

        <section class="content mt-3">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <h3 class="card-title" style="color: black;">Pontos de atenção</h3>
                    </button>
                    <div class="card-tools">
                    </div>
                  </div>

                  {% for point in points %}
                  <div class="card-body collapse card_atendimento" aria-expanded="false" id="pontosCadastrados">
                    <div class="ponto-atendimento" data-lat="{{ point.latitude }}" data-lng="{{ point.longitude }}">
                      <p class="point_of_interest" style="font-size: 0.8rem">
                        <i class="fa fa-exclamation-triangle"></i> {{ point.descricao }}
                        {% if point.is_temporary %}
                        | duração: <strong>{{ point.date_initial|date:"d/m/Y" }} {{ point.date_initial|time:"H:i" }} à
                          {{ point.date_final | date:"d/m/Y" }} {{ point.date_final|time:"H:i" }}</strong>
                        {% endif %}
                        <a href="{% url 'rpa_manager:edit_point' point.pk %}" style="padding-left: 10px"><i
                            class="fa fa-pen"></i></a>
                        <a href="{% url 'rpa_manager:delete_point' point.pk %}" style="padding-left: 10px"><i
                            class="fa fa-trash"></i></a>
                      </p>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </section>

        <div id="map" class="ml-3 mr-3 mt-3" style="height: 400px;"></div>

        <div class="ml-3 mb-3 mt-3">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <a href="{% url 'rpa_manager:principal' %}">
            <button type="button" class="btn btn-warning">Cancelar</button>
          </a>
        </div>
      </form>
    </div>
  </div>
  {% endblock content %}

  <!-- javascripts -->
  {% block js %}
  <!-- DataTables  & Plugins -->
  <script src="{% static 'adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>
  <script src="{% static 'leaflet/leaflet.js' %}"></script>
  <script>
    // Inicializar o mapa
    let zoomLevel = 10;
    let map = L.map('map').setView([-7.015104, -35.402316], zoomLevel);
    var latitude = document.getElementById('id_latitude');
    var longitude = document.getElementById('id_longitude');
    var marcacao;
    let dadosMarcadores = {{ points_json | safe }}
    // Adicionar camada do mapa (pode ser substituído por outras camadas como OpenStreetMap, Mapbox, etc.)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Adicionar evento de clique no mapa
    map.on('click', function (e) {
      var lat = e.latlng.lat;
      var lng = e.latlng.lng;
      latitude.value = lat;
      longitude.value = lng;

      if (marcacao) {
        map.removeLayer(marcacao);
      }
      marcacao = L.marker([lat, lng]).addTo(map);
    });

    function inserirPontoDecolagem() {
      var lat = parseFloat(latitude.value);
      var lng = parseFloat(longitude.value);

      if (marcacao) {
        map.removeLayer(marcacao);
      }

      if (!isNaN(lat) && !isNaN(lng)) {

        marcacao = L.marker([lat, lng]).addTo(map);
        map.setView([lat, lng], 13);

      } else {
        alert('Coordenadas inválidas. Certifique-se de inserir valores numéricos válidos para latitude e longitude.');
      }
    }

    async function pesquisarEndereco() {
      var map_container = document.querySelector('.map_container');
      var enderecoInput = document.getElementById('endereco');
      var endereco = enderecoInput.value;
      let loading = document.querySelector('.loading_search');
      loading.classList.toggle('loading_search');

      try {
        const response = await fetch('https://nominatim.openstreetmap.org/search?format=json&q=' + encodeURIComponent(endereco));
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }

        const data = await response.json();

        if (data.length > 0) {
          loading.classList.toggle('loading_search');
          var lat = parseFloat(data[0].lat);
          var lng = parseFloat(data[0].lon);
          let zoom = 17;
          map.setView([lat, lng], zoom);
        } else {
          loading.classList.toggle('loading_search');
          alert('Endereço não encontrado. Certifique-se de digitar um endereço válido.');
        }
      } catch (error) {
        console.log('Erro ao pesquisar o endereço:', error);
      }
    }

    function limparCampo() {
      var enderecoInput = document.getElementById('endereco');
      enderecoInput.value = '';
    }

    const urlLocalImg = "{% static '/sti/img/attention.png' %}"
    const timedPoint = "{% static '/sti/img/timer.png' %}"
    var attentionIcon = L.icon({
      iconUrl: urlLocalImg,
      iconSize: [32, 32],
      iconAnchor: [16, 32],
      popupAnchor: [0, -32]
    });
    var timerIcon = L.icon({
      iconUrl: timedPoint,
      iconSize: [35, 35],
      iconAnchor: [16, 32],
      popupAnchor: [0, -32]
    });

    dadosMarcadores.forEach((dados) => {
      const lat = dados.latitude;
      const lng = dados.longitude;
      const descricao = dados.descricao;
      if (dados.temporary) {
        var marker = L.marker([lat, lng], { icon: timerIcon }).addTo(map);
        marker.bindPopup(descricao + '<br>' + `Evento: ${dados.date_initial} à ${dados.date_final}`);
      } else {
        var marker = L.marker([lat, lng], { icon: attentionIcon }).addTo(map);
        marker.bindPopup(descricao);
      }
    });

    const pontosAtendimento = document.querySelectorAll('.ponto-atendimento');

    pontosAtendimento.forEach(ponto => {
      ponto.addEventListener('click', function () {
        const lat = parseFloat(this.getAttribute('data-lat').replace(',', '.'));
        const lng = parseFloat(this.getAttribute('data-lng').replace(',', '.'));
        map.setView([lat, lng], 18);
      });
    });

  </script>


  <script>
    $(document).ready(function () {
      $('.local_escolha').select2()
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var selectField = document.getElementById("id_usuario");
      selectField.readonly = true;
    });
  </script>

  <script>
    const pointOfInterestElements = document.querySelectorAll('.point_of_interest');

    pointOfInterestElements.forEach((point) => {
      point.addEventListener('click', function () {
        var targetElement = document.getElementById('map');
        targetElement.scrollIntoView({ behavior: 'smooth' });
      });
    });  
  </script>

  <script>
    /* Verify errors in create operation form*/
    const error = document.getElementsByClassName('errorlist');
    const latAndlngError = 'latitudeLatitude ou Longitude inválidos (marque um ponto no mapa)longitudeLatitude ou Longitude inválidos (marque um ponto no mapa)'
    if(error[0].textContent.includes('_all_')) {
      error[0].textContent = error[0].textContent.replace('__all__', '')
    } 
    if(error[0].textContent.includes('aeronaveEste campo é obrigatório.')) {
      error[0].textContent = error[0].textContent.replace('_aeronaveEste campo é obrigatório._', '')
    } 
    if(error[0].textContent.includes(latAndlngError)) {
      error[0].textContent = error[0].textContent.replace(latAndlngError, '')
    } 
  </script>
  {% endblock %}