{% extends "base/base.html" %}
{% load static %}
{% load custom_tags %}

<!-- styles -->
{% block style_sheet %}
  {% comment %} bacinf style_sheet {% endcomment %}
  <link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/select2/css/select2.min.css' %}">
  <style>
    #id_legislation_file {
      display: none;
    }
  </style>
{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Editar legislação {% endblock %}


<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'rpa_manager:legislations' %}">Legislação</a></li>
  <li class="breadcrumb-item active">Editar legislação</li>
{% endblock %}

<!-- main container -->
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title">Editar legislação</h3>
        </div>
        <form class="p-3" method='post' enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-12 mb-0">
              <div class="row">
                <div class="col-6">
                  <label for="id_title">Título</label>
                  {{ form.title }}
                  {{ form.title.errors }}
                </div>
                <div class="col-6">
                  <label for="id_date_published">Data de publicação</label>
                  {{ form.date_published }}
                  {{ form.date_published.errors }}
                </div>
              </div>
              <label for="id_description">Descrição</label>
              {{ form.description }}
              {{ form.description.errors }}<br>
              <label for="id_legislation_file" class="field_label">Arquivo da legislação</label>
              <button type="button" class="btn btn-outline-primary ml-3 mt-6" id="fileButton">Selecionar Arquivo</button>
              {{ form.legislation_file }}
              {{ form.legislation_file.errors }}
              <p id="fileName"></p>
              <label for="id_in_effect">Está em vigor? </label>
              {{ form.in_effect }}
              {{ form.in_effect.errors }}<br>
            </div>
          </div>

          {% if request.user|has_group:'profile:rpa_advanced' %}
            <div class="mt-3">
              <button type="submit" class="btn btn-primary">Salvar</button>
              <a href="{% url 'rpa_manager:legislations' %}">
                <button type="button" class="btn btn-warning">Cancelar</button>
              </a>
            </div>
          {% endif %}
        </form>
      </div>
    </div>
{% endblock content %}

<!-- javascripts -->
{% block js %}
  <!-- DataTables  & Plugins -->
  <script src="{% static 'adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>
  <script>
    document.getElementById("fileButton").addEventListener("click", function () {
      document.getElementById("id_legislation_file").click();
    });
    document.getElementById("id_legislation_file").addEventListener("change", function () {
      var fileName = document.getElementById("id_legislation_file").files[0].name;
      document.getElementById("fileName").innerHTML = "Arquivo selecionado: " + fileName;
    });
  </script>
{% endblock %}