{% extends "base/base.html" %}
{% load static %}

<!-- styles -->
{% block style_sheet %}
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/select2/css/select2.min.css' %}">
<style>
  .errorlist {
    list-style-type: none;
    color: red;
    /* Adicione outros estilos desejados */
  }

  .error-border {
    border: 1px solid red;
  }

  /* fix select2 field height */
  .select2-selection,
  .select2-selection--single {
    height: 38px !important;
  }

  #select2-id_aeronave-container {
    height: 38px !important;
  }
    /* Default styles for the image */
    .main-tolerability-img {
      max-width: 100%;
      height: auto;
    }
  
    /* Media query for screens narrower than 768px (typical mobile screens) */
    @media (max-width: 768px) {
        .main-tolerability-img {
            width: 100%; /* Make the image width 100% of the viewport */
            height: auto;
            cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
        }
  }
</style>
{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Editar análise de risco {% endblock %}

<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'rpa_manager:painel' %}">Painel</a></li>
<li class="breadcrumb-item active">Editar análise de risco</li>
{% endblock %}

<!-- main container -->
{% block content %}
<div class="col-md-12">
  <div class="callout callout-info">
    <h3 class="text-info"><i class="fas fa-bullhorn"></i> Atenção ao preenchimento!</h3>
    <br>
    <h3 class="main-intro-topic">Probabilidade da ocorrência:</h3>
    <ul>
        <li>Nível 5 (frequente): é provável que ocorra muitas vezes, ou historicamente tem ocorrido frequentemente;</li>
        <li>Nível 4 (ocasional): é provável que ocorra algumas vezes, ou historicamente tem ocorrido com pouca frequência;</li>
        <li>Nível 3 (remoto): é improvável, mas é possível que venha a ocorrer, ou ocorre raramente;</li>
        <li>Nível 2 (improvável): é bastante improvável que ocorra e não se tem notícia de que tenha alguma vez ocorrido; e</li>
        <li>Nível 1 (muito improvável): é quase impossível que o evento ocorra.</li>
    </ul>
    <h3 class="main-intro-topic">Severidade da ocorrência:</h3>
    <ul>
        <li>Nível A (catastrófico): morte de múltiplas pessoas;</li>
        <li>Nível B (crítico): morte de pessoa, lesões gravíssimas, capazes de deixar sequelas significativas e/ou incapacitantes, tais como cegueira, paralisia, amputações, etc.;</li>
        <li>Nível C (significativo): lesões sérias a pessoas, mas não incapacitantes nem com sequelas significativas;</li>
        <li>Nível D (pequeno): incidentes menores, danos a objetos, animais ou vegetação no solo, lesões leves;</li>
        <li>Nível E (insignificante): somente danos ao equipamento.</li>
    </ul>
    <h3 class="main-intro-topic">Tolerabilidade:</h3>

    <div class="row justify-content-center">
      <div class="col-12 text-center mb-3">
          <img src="{% static 'sti/img/table-anac.png' %}" alt="tabela da ANAC" class="main-tolerability-img">
      </div>
    </div>

    <ul class="main-content-tolerability">
        <li><span style="color: red; font-weight: bold;">Risco extremo</span> (classificações 4A, 5A e 5B): a operação não deve ocorrer e, caso esteja ocorrendo, deve cessar imediatamente, enquanto persistir a condição ou até que medidas mitigadoras suficientes reduzam o risco para um nível aceitável pelo operador. Caso ainda se decida prosseguir com a operação, controles preventivos para mitigação do risco devem ser estabelecidos, devem estar em vigor e a aprovação da hierarquia mais alta da empresa (presidente) deve ser requerida.</li>
        <li><span style="color: #854010; font-weight: bold;">Alto risco</span> (classificações 3A, 4B e 5C): a operação não deveria ocorrer e, caso esteja ocorrendo, deveria cessar imediatamente, enquanto persistir a condição ou até que medidas mitigadoras suficientes reduzam o risco para um nível aceitável pelo operador. Caso ainda se decida prosseguir com a operação, controles preventivos para mitigação do risco devem ser estabelecidos, devem estar em vigor e a aprovação da hierarquia de gestão da empresa (gerente ou diretor) deve ser requerida.</li>
        <li><span style="color: blue; font-weight: bold;">Risco moderado</span> (classificações 1A, 2A, 2B, 3B, 3C, 4C, 4D, 5D, 5E): a operação pode ocorrer com controles preventivos para mitigação do risco estabelecidos e que devem estar em vigor, conforme necessários. Operações neste nível de risco deveriam ser aprovadas por nível hierárquico imediatamente superior (chefia imediata).</li>
        <li><span style="color: #FF9900; font-weight: bold;">Baixo risco</span> (classificações 1B, 1C, 2C, 2D, 3D, 3E, 4E): a operação pode ocorrer e controles preventivos para mitigação de risco e aprovação por nível hierárquico imediatamente superior (chefia imediata) são opcionais.</li>
        <li><span style="color: green; font-weight: bold;">Risco muito baixo</span> (classificações 1D, 1E e 2E): a operação é aceitável como concebida, e nenhum controle preventivo para mitigação de risco e aprovação é requerida para que ela ocorra.</li>
    </ul>
  </div>
  
</div>

<div class="col-md-12">
  <div class="card card-primary card-outline">
    <div class="card-header">
      <h3 class="card-title">Editar análise de risco</h3>
    </div>
    <form class="p-3" method="post">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-12 mb-0 forms_inputs">
          <div class="row">
            <div class="col-md-6">
              <label for="id_situation">Situação</label>
              {{ form.situation }}
              {{ form.situation.errors }}
            </div>
            <div class="col-md-6">
              <label for="id_hierarchy_authorization">Hierarquia</label>
              {{ form.hierarchy_authorization }} 
              {{ form.hierarchy_authorization.errors }} <br>
            </div>
            <div class="col-md-6">
              <label for="id_probability_of_occurrence">Probabilidade</label>
              {{ form.probability_of_occurrence }}
              {{ form.probability_of_occurrence.errors }}
            </div>
            <div class="col-md-6">
              <label for="id_severity_of_occurrence">Severidade</label>
              {{ form.severity_of_occurrence }}
              {{ form.severity_of_occurrence.errors }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">              
              <label for="id_mitigation_measures_risk">Mitigação dos riscos</label>
              {{ form.mitigation_measures_risk }}
              {{ form.mitigation_measures_risk.errors }}
            </div>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'rpa_manager:risk_assessment_list' %}">
          <button type="button" class="btn btn-warning">Cancelar</button>
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}

<!-- javascripts -->
{% block js %}
<script src="{% static 'adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>

<script>
  $(document).ready(function () {
    $('.local_escolha').select2();
    $('.aircrafts_escolha').select2();
  })
</script>

{% endblock %}