{% extends "base/base.html" %}
{% load static %}

<!-- styles -->
{% block style_sheet %}
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/select2/css/select2.min.css' %}">
<style>
  .errorlist {
    list-style-type: none;
    color: red;
    /* Adicione outros estilos desejados */
  }

  .error-border {
    border: 1px solid red;
  }

  /* fix select2 field height */
  .select2-selection,
  .select2-selection--single {
    height: 38px !important;
  }

  #select2-id_aeronave-container {
    height: 38px !important;
  }
</style>
{% endblock style_sheet %}

<!-- browser title -->
{% block title %} Editar análise de risco {% endblock %}

<!-- context title -->
{% block title-header %} Operações aéreas {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'rpa_manager:painel' %}">Painel</a></li>
<li class="breadcrumb-item active">Editar análise de risco</li>
{% endblock %}

<!-- main container -->
{% block content %}
<div class="col-md-12">
  <div class="card card-primary card-outline">
    <div class="card-header">
      <h3 class="card-title">Editar análise de risco</h3>
    </div>
    <form class="p-3" method="post">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-12 mb-0 forms_inputs">
          <div class="row">
            <div class="col-md-6">
              <label for="id_situation">Situação</label>
              {{ form.situation }}
              {{ form.situation.errors }}
            </div>
            <div class="col-md-6">
              <label for="id_hierarchy_authorization">Hierarquia</label>
              {{ form.hierarchy_authorization }} 
              {{ form.hierarchy_authorization.errors }} <br>
            </div>
            <div class="col-md-6">
              <label for="id_probability_of_occurrence">Probabilidade</label>
              {{ form.probability_of_occurrence }}
              {{ form.probability_of_occurrence.errors }}
            </div>
            <div class="col-md-6">
              <label for="id_severity_of_occurrence">Severidade</label>
              {{ form.severity_of_occurrence }}
              {{ form.severity_of_occurrence.errors }}
            </div>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'rpa_manager:risk_assessment_list' %}">
          <button type="button" class="btn btn-warning">Cancelar</button>
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}

<!-- javascripts -->
{% block js %}
<script src="{% static 'adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>

<script>
  $(document).ready(function () {
    $('.local_escolha').select2();
    $('.aircrafts_escolha').select2();
  })
</script>
{% endblock %}