<!-- Módulo Operações aéreas -->
<li class="nav-item module-item">
    <a href="#" class="nav-link">
    <i class="fas fa-cogs nav-icon"></i>
    <p>
        Operações Aéreas
        <i class="fas fa-angle-left right"></i>
    </p>
    </a>

    <ul class="nav nav-treeview" style="display: none;">
    
    <li class="nav-item">
        <a href="{% url 'controle:painel' %}" class="nav-link">
        <i class="fas fa-circle nav-icon"></i>
        <p>Painel</p>
        </a>
    </li>
    
    <li class="nav-item">
        <a href="{% url 'controle:principal' %}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Missões</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'controle:checklists' %}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Checklists</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'controle:relatorios' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Relatórios</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fa fa-cog nav-icon" aria-hidden="true"></i>
          <p>
            Configurações
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item ">
                <a href="{% url 'controle:efetivo' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Efetivo</p>
                </a>
            </li>
            <li class="nav-item ">
                <a href="{% url 'controle:aeronaves' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Aeronaves</p>
                </a>
            </li>
            <li class="nav-item ">
                <a href="{% url 'controle:baterias' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Baterias</p>
                </a>
            </li>  
        </ul>
      </li>
    </ul>
</li>
