{% extends "base/base.html" %}
{% load static crispy_forms_tags widget_tweaks custom_tags %}

{% block title %} Areas {% endblock %}

{% block style_sheet %}
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}

{% block title-header %} Areas {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'area:area_list' %}">Areas</a></li>
<li class="breadcrumb-item"><a>Excluir</a></li>
{% endblock %}

{% block content %}
<!-- INFO BOX-->
<div class="callout callout-info">
    <h3 class="text-info"><i class="fas fa-bullhorn"></i> Sobre excluir área</h3>
    <p class="text-muted text-justify px-3 pt-2">
        <b>Essa tela permite a exclusão de uma área criada.</b>
        <br><b>Essa é uma alteração permanente e não pode ser disfeita.</b>
        <br><b>A exclusão não será possível se a área tiver ligações com cadastros em outros apps.</b>
    </p>
  </div>

{% if request.user|has_group:'profile:area_manager' %}

<div class="row">
  <div class="col-md-12">
      <div class="card card-primary card-outline">
          <div class="card-header">
              <h3 class="card-title">Excluir area</h3>
          </div>

          <div class="p-4">
            <div class="row">
                <div>
                    <p>Tem certeza que deseja excluir  <b> {{ object_to_delete.name }}</b> ?</p>
                </div>
            </div>
        </div>


        <form method="post">
            {% csrf_token %}
            <div class="row mt-auto ml-3 mb-3">
                <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                <a href="{{ request.META.HTTP_REFERER  }}" alt="type_add"><button type="button" class="btn btn-warning ml-1"> Cancelar </button></a>
            </div>

        </form>

  </div>
</div>

{% endif %}

{% endblock %}

{% block js %}
{% endblock %}