{% extends "base/base.html" %}
{% load static %}

<!-- browser title -->
{% block title %} Pessoas {% endblock %}

<!-- styles -->
{% block style_sheet %}
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet"
  href="{% static 'adminlte-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}

<!-- context title -->
{% block title-header %} Gestão de Pessoas da Bacinf {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'base:index' %}">Início</a></li>
<li class="breadcrumb-item active">Unidades</li>
{% endblock %}

<!-- main container -->
{% block content %}
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">Unidades Cadastradas</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div id="objects_list_wrapper" class="dataTables_wrapper dt-bootstrap4">
      <table id="objects_list" class="table table-bordered table-striped dataTable dtr-inline" role="grid"
        aria-describedby="objects_list_info" width="100%">
        <thead>
          <tr>
            <th>Id</th>
            <th>Alcunha</th>
            <th>Documento</th>
            <th>Criada</th>
            <th>Atualizada</th>
            <th>Usuário</th>
            <th>Unidade</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %}

<!-- javascripts -->
{% block js %}
!-- DataTables & Plugins -->
<script src="{% static 'adminlte-3.1.0/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script>
  $(function () {
    var dt_table = $('#objects_list').dataTable({
      buttons: ["pageLength", "pdf", "print", "excel", "colvis"],
      dom: "<'row'<'col-sm-12 col-md-6'B><'col-sm-12 col-md-6'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
      language: { "url": "//cdn.datatables.net/plug-ins/1.11.1/i18n/pt_br.json" },
      responsive: true,
      searching: true,
      processing: true,
      serverSide: true,
      stateSave: true,
      ajax: '{% url "person:person_list_json" %}',
      order: [[0, "desc"]],
    });
  });
</script>
{% endblock %}