{% extends "base/base.html" %}
{% load static crispy_forms_tags widget_tweaks %}


<!-- browser title -->
{% block title %} Adicionar tag {% endblock %}

<!-- styles -->
{% block style_sheet %}

{% endblock %}


{% block title-header %} Rede de Proteção {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'protect_network:index' %}">Rede</a></li>
<li class="breadcrumb-item"><a>Funcionários</a></li>
{% endblock %}

{% block content %}

<!-- INFO BOX-->
<div class="callout callout-info">
    <h3 class="text-info"><i class="fas fa-bullhorn"></i> Sobre funcionários</h3>
    <p class="text-muted text-justify px-3 pt-2">
        1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor tortor non dui mattis, nec blandit justo dignissim.
        <br>2. Phasellus volutpat semper justo, vel laoreet tellus consequat vel. Suspendisse potenti. Fusce nec malesuada neque.
        <br>3. Integer id vestibulum neque, ac malesuada libero. Quisque a ligula vel ante ultrices blandit. Vivamus in lacinia lorem.
    </p>
</div>

<div class="row">
<div class="col-md-12">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title"><b>Informações sobre os funcionários</b></h3>
        </div>
    <form class="p-3" method='post' enctype="multipart/form-data">

    <div>
        <p>Proprietários</p>
        <div id="objects_list_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="table-responsive">
                <table id="objects_list" class="table table-bordered table-striped responsive dataTable dtr-inline" role="grid" aria-describedby="objects_list_info" width="100%">
                    <thead>
                        <tr>
                            <th>Funcionário</th>
                            <th>Cargo / função</th>
                            <th>Ação</th>
                        </tr>
                    </thead>

                    <tboby>
                        <tr>
                            <td>Luís Pereira</td>
                            <td> Sócio </td>
                            <td class="project-actions text-center">
                                <a  class="btn btn-outline-info btn-sm" href="">Detalhes</a>
                                <a  class="btn btn-outline-info btn-sm" href="">Editar</a>
                                <a  class="btn btn-outline-danger btn-sm" href="">Excluir</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Carolina Ferreiraa</td>
                            <td> Sócio </td>
                            <td class="project-actions text-center">
                                <a  class="btn btn-outline-info btn-sm" href="">Detalhes</a>
                                <a  class="btn btn-outline-info btn-sm" href="">Editar</a>
                                <a  class="btn btn-outline-danger btn-sm" href="">Excluir</a>
                            </td>
                        </tr>
                    </tboby>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#employeeModal">
                    + Adicionar
                </button>
            </div>
        </div>
    </div>

    <hr>
    <div class="mt-3">
        <p>Funcionários</p>
        <div id="objects_list_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="table-responsive">
                <table id="objects_list" class="table table-bordered table-striped responsive dataTable dtr-inline" role="grid" aria-describedby="objects_list_info" width="100%">
                    <thead>
                        <tr>
                            <th>Funcionário</th>
                            <th>Cargo / função</th>
                            <th>Ação</th>
                        </tr>
                    </thead>

                    <tboby>
                        <tr>
                            <td>Pedro Costa</td>
                            <td> vendedor </td>
                            <td class="project-actions text-center">
                                <a  class="btn btn-outline-info btn-sm" href="">Detalhes</a>
                                <a  class="btn btn-outline-info btn-sm" href="">Editar</a>
                                <a  class="btn btn-outline-danger btn-sm" href="">Excluir</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Maria Joaquina</td>
                            <td> operadora de caixa </td>
                            <td class="project-actions text-center">
                                <a  class="btn btn-outline-info btn-sm" href="">Detalhes</a>
                                <a  class="btn btn-outline-info btn-sm" href="">Editar</a>
                                <a  class="btn btn-outline-danger btn-sm" href="">Excluir</a>
                            </td>
                        </tr>
                        <tr>
                            <td>João Santos</td>
                            <td> faxineiro </td>
                            <td class="project-actions text-center">
                                <a  class="btn btn-outline-info btn-sm" href="">Detalhes</a>
                                <a  class="btn btn-outline-info btn-sm" href="">Editar</a>
                                <a  class="btn btn-outline-danger btn-sm" href="">Excluir</a>
                            </td>
                        </tr>
                    </tboby>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#employeeModal">
                    + Adicionar
                </button>
            </div>
        </div>
    </div>


           
        <!-- <div class="mt-3">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href=""><button type="button" class="btn btn-warning">Cancelar</button></a>
        </div> -->

        <!-- Modal para adicionar funcionário -->
        <div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="employeeModalLabel">Adicionar Funcionário</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    {{form.name|add_class:"form-control"|as_crispy_field}}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    {{form.gender|add_class:"form-control"|as_crispy_field}}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    {{form.position|add_class:"form-control"|as_crispy_field}}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    {{form.start_date|add_class:"form-control"|as_crispy_field}}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    {{form.rg|add_class:"form-control"|as_crispy_field}}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    {{form.cpf|add_class:"form-control"|as_crispy_field}}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    {{form.phone|add_class:"form-control"|as_crispy_field}}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    {{form.email|add_class:"form-control"|as_crispy_field}}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    {{form.photo|add_class:"form-control"|as_crispy_field}}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    {{form.end_date|add_class:"form-control"|as_crispy_field}}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Salvar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
</div>



{% endblock %}
<!-- javascripts -->
{% block js %}
<script src="{% static 'adminlte-3.1.0/plugins/inputmask/jquery.inputmask.min.js' %}"></script>
{% endblock %}
