{% extends "base/base.html" %}

<!-- browser title -->
{% block title %} Sobre {% endblock %}

<!-- styles -->
{% block style_sheet %}{% endblock %}

<!-- context title -->
{% block title-header %} Sobre o Sistema {% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'base:index' %}">Início</a></li>
  <li class="breadcrumb-item active">Sobre</li>
{% endblock %}

<!-- main container -->
{% block content %}{% endblock %}

<!-- javascripts -->
{% block js %}{% endblock %}