{% load static %}
{% load custom_tags %}

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
      {% if request.user|has_group:'fact:fact_intermediate' %}
      <li class="nav-item module-item">
        <a href="#" class="nav-link">
          <i class="fas fa-users nav-icon"></i>
          <p>
            Consulta de Fatos
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
          <li class="nav-item">
              <a href="{% url 'fact:index' %}" class="nav-link">
                <i class="fas fa-circle nav-icon"></i>
                <p>Painel de Fatos</p>
              </a>
          </li>
          {% if request.user|has_group:'fact:fact_basic' %}

            <li class="nav-item menu-item">
                <a href="#" class="nav-link">
                <i class="fas fa-comment nav-icon"></i>
                <p>
                    Veículos
                    <i class="fas fa-angle-left right"></i>
                </p>
                </a>
                <ul class="nav nav-treeview" style="display: none;">
                <li class="nav-item">
                    <a href="{% url 'school:facts' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Lista de veículos</p>
                    </a>
                </li>

                {% if request.user|has_group:'profile:vehicle_intermediate, profile:vehicle_advanced' %}
                    <li class="nav-item">
                        <a href="{% url 'vehicle:vehicle_form' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Cadastrar Veículo</p>
                        </a>
                    </li>
                {% endif %}

                {% if request.user|has_group:'profile:person_basic, profile:person_intermediate, profile:person_advanced' %}
                <li class="nav-item">
                    <a href="{% url 'person:index' %}" class="nav-link">
                      <i class="far fa-user nav-icon"></i>
                      <p>Pessoas</p>
                    </a>
                </li>
                {% endif %}

                </ul>
            </li>
          {% endif %}
        </ul>
      </li>
      {% endif %}

      {% if user.is_superuser %}
      <!--Módulo técnico-->
      <li class="nav-item module-item">
          <a href="#" class="nav-link">
            <i class="fas fa-code nav-icon"></i>
            <p>Área técnica<i class="fas fa-angle-left right"></i></p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item">
              <a href="{% url 'admin:index' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Área Administrativa</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-sync-alt nav-icon"></i>
                <p>
                  Tarefas Pessoas
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview" style="display: none;">
                
                <li class="nav-item">
                  <a href="{% url 'person:list_person' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Visualizar Pessoas</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'person:command_person' %}" class="nav-link">
                    <i class="fas fa-terminal nav-icon"></i>
                    <p>Comandos Disponíveis</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-sync-alt nav-icon"></i>
                <p>
                  Tarefas Endereços
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview" style="display: none;">
                
                <li class="nav-item">
                  <a href="{% url 'address:list_address' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Visualizar Endereços</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'address:command_address' %}" class="nav-link">
                    <i class="fas fa-terminal nav-icon"></i>
                    <p>Comandos Disponíveis</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-sync-alt nav-icon"></i>
                <p>
                  Tarefas Documentos
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview" style="display: none;">
                
                <li class="nav-item">
                  <a href="{% url 'document:list_document' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Visualizar Documentos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'document:list_document_image' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Visualizar Imagens de Documentos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'document:command_document' %}" class="nav-link">
                    <i class="fas fa-terminal nav-icon"></i>
                    <p>Comandos Disponíveis</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-sync-alt nav-icon"></i>
                <p>
                  Tarefas Imagens
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview" style="display: none;">
                
                <li class="nav-item">
                  <a href="{% url 'image:list_image' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Visualizar Imagens</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'image:command_image' %}" class="nav-link">
                    <i class="fas fa-terminal nav-icon"></i>
                    <p>Comandos Disponíveis</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
      </li>      
      {% endif %}
      {% if user.is_superuser %}
        <li class="nav-header">INTEGRAÇÕES</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-sync-alt nav-icon"></i>
            <p>
              PORTAL
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
            
            <li class="nav-item">
              <a href="{% url 'portal:list_entity' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Visualizar Unidades</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'portal:command_portal' %}" class="nav-link">
                <i class="fas fa-terminal nav-icon"></i>
                <p>Comandos Disponíveis</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-sync-alt nav-icon"></i>
            <p>
              AUTH-OIDC
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item">
              <a href="{% url 'auth_oidc:command_auth_oidc' %}" class="nav-link">
                <i class="fas fa-terminal nav-icon"></i>
                <p>Comandos Disponíveis</p>
              </a>
            </li>
          </ul>
        </li>
        {% endif %}
        <li class="nav-header">INFORMAÇÕES</li>
        <li class="nav-item">
            <a href="{% url 'base:about' %}" class="nav-link">
              <i class="fas fa-info-circle nav-icon"></i>
              <p>Sobre</p>
            </a>
        </li>

    </ul>
</nav>

