{% load static %}

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">MÓDULOS</li>
         
        <!-- Módulo operações aéreas -->
        <li class="nav-item module-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-university"></i>
            <p>
              Operações Aéreas
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>

          <ul class="nav nav-treeview" style="display: none;">
            
            <li class="nav-item">
              <a href="{% url 'rpa_manager:painel' %}" class="nav-link">
                <i class="fas fa-circle nav-icon"></i>
                <p>Painel</p>
              </a>
            </li>
            
            <li class="nav-item">
              <a href="{% url 'rpa_manager:principal' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Missões</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'rpa_manager:checklists' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Checklists</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'rpa_manager:relatorios' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Relatórios</p>
              </a>
            </li>

          </ul>
        </li>
        
        <!--Módulo Configurações-->
        <li class="nav-item module-item">
          <a href="#" class="nav-link">
            <i class="fas fa-graduation-cap nav-icon"></i>
            <p>
              Configurações
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item ">
              <a href="{% url 'rpa_manager:efetivo' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Efetivo</p>
              </a>
            </li>
            <li class="nav-item ">
              <a href="{% url 'rpa_manager:aeronaves' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Aeronaves</p>
              </a>
            </li>
            <li class="nav-item ">
              <a href="{% url 'rpa_manager:baterias' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Baterias</p>
              </a>
            </li>  
          </ul>
        </li>
  
        {% comment %} {% if user.is_superuser %}
          <!--Módulo técnico-->
          <li class="nav-item module-item">
              <a href="#" class="nav-link">
                <i class="fas fa-code nav-icon"></i>
                <p>Área técnica<i class="fas fa-angle-left right"></i></p>
              </a>
              <ul class="nav nav-treeview" style="display: none;">
                <li class="nav-item">
                  <a href="{% url 'admin:index' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Área Administrativa</p>
                  </a>
                </li>
              </ul>
          </li>
        {% endif%}

        {% if user.is_superuser %}
          <li class="nav-header">INTEGRAÇÕES</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-sync-alt nav-icon"></i>
              <p>
                PORTAL
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              
              <li class="nav-item">
                <a href="{% url 'portal:list_entity' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Visualizar Unidades</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'portal:command_portal' %}" class="nav-link">
                  <i class="fas fa-terminal nav-icon"></i>
                  <p>Comandos Disponíveis</p>
                </a>
              </li>
            </ul>
          </li>
        {% endif %} {% endcomment %}

        <li class="nav-header">INFORMAÇÕES</li>
        <li class="nav-item ">
            <a href="{% url 'base:about' %}" class="nav-link">
              <i class="fas fa-info-circle nav-icon"></i>
              <p>Sobre</p>
            </a>
        </li>
    </ul>
  </nav>