<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">MÓDULOS</li>
        <!--Módulo sprint-->
        <li class="nav-item module-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-university"></i>
            <p>
              Controle de Sprints
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
            
            <li class="nav-item">
              <a href='#' class="nav-link">
                <i class="fas fa-circle nav-icon"></i>
                <p>Sprints</p>
              </a>
            </li>
            
            <li class="nav-item">
              <a href='#' class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sprints dos Usuarios</p>
              </a>
            </li>
            <li class="nav-item">
              <a href='#' class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Banco de Horas</p>
              </a>
            </li>
          </ul>
        </li>
        
        <!--Módulo Capabilities-->
        <li class="nav-item module-item">
          <a href="#" class="nav-link">
            <i class="fas fa-graduation-cap nav-icon"></i>
            <p>
              Capacitações
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
             
            <li class="nav-item ">
              <a href="#" class="nav-link">
                <i class="fa fa-circle nav-icon"></i>
                <p>Painel</p>
              </a>
            </li>
            
            <li class="nav-item ">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Meus cursos</p>
              </a>
            </li>
             
            <li class="nav-item ">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Estudantes</p>
              </a>
            </li>
            <li class="nav-item ">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Cursos</p>
              </a>
            </li>
            <li class="nav-item ">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Categorias</p>
              </a>
            </li> 
              
            <li class="nav-item menu-item">
              <a href="#" class="nav-link">
                <i class="fas fa-wrench nav-icon"></i> 
                <p>
                  Configurações
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview" style="display: none;">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Adicionar estudantes</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Gestão de cursos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Gestão de categorias</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Gestão de tipos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Gestão de instituições</p>
                  </a>
                </li>
              </ul>
            </li>
             
          </ul>
        </li>
         
        <!--Módulo Capabilities-->
        <li class="nav-item module-item">
          <a href="#" class="nav-link">
            <i class="fas fa-user nav-icon"></i>
            <p>
              Recursos Humanos
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Visualizar militares</p>
                  </a>
                </li>          
          </ul>
        </li>
         
        <!-- {% include 'base/apps-nav-content/rpa_manager.html' %} -->
    
        <!--Módulo técnico-->
        <li class="nav-item module-item">
            <a href="#" class="nav-link">
              <i class="fas fa-code nav-icon"></i>
              <p>Área técnica<i class="fas fa-angle-left right"></i></p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Área Administrativa</p>
                </a>
              </li>
            </ul>
        </li>
          <li class="nav-header">INTEGRAÇÕES</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-sync-alt nav-icon"></i>
              <p>
                PORTAL
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Visualizar Unidades</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-terminal nav-icon"></i>
                  <p>Comandos Disponíveis</p>
                </a>
              </li>
            </ul>
          </li>
          
        <li class="nav-header">INFORMAÇÕES</li>
        <li class="nav-item ">
            <a href="#" class="nav-link">
              <i class="fas fa-info-circle nav-icon"></i>
              <p>Sobre</p>
            </a>
        </li>
    </ul>
  </nav>