<!--Módulo Rede de Proteção-->
<li class="nav-item module-item">
    <a href="#" class="nav-link">
        <i class="fas fa-map-marked-alt nav-icon"></i>
        <p>Rede de Proteção<i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview" style="display: none;">
        <li class="nav-item ">
            <a href="{% url 'protect_network:estabelishment' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i><p>Comércio</p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i><p>Staff</p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i><p>Funcionamento</p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i><p>Segurança</p>
            </a>
        </li>
    </ul>
</li>