<!--Módulo Rede de Proteção-->
<li class="nav-item module-item">
    <a href="" class="nav-link">
        <i class="fas fa-map-marked-alt nav-icon"></i>
        <p>Rede de Proteção<i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview" style="display: none;">

        <li class="nav-item ">
            <a href="{% url 'protect_network:index' %}" class="nav-link">
                <i class="fa fa-circle nav-icon"></i><p>Mapa de pontos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'protect_network:spot_add' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i><p>Adicionar ponto</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'protect_network:spot_list_created' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i><p>Meus pontos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'protect_network:spot_list' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i><p>Listar pontos</p>
            </a>
        </li>
        <li class="nav-item menu-item">
            <a href="#" class="nav-link">
                <i class="fas fa-wrench nav-icon"></i> 
                <p>Configurações<i class="fas fa-angle-left right"></i></p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
                <li class="nav-item">
                    <a href="{% url 'protect_network:type_add' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i><p>Adicionar catetoria</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'protect_network:type_list' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i><p>Listar categorias</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'protect_network:tag_add' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i><p>Adicionar tag</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'protect_network:tag_list' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i><p>Listar tags</p>
                    </a>
                </li>
            </ul>
        </li>


        <li class="nav-item ">
            <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i><p>Rede</p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i><p>Comércio</p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i><p>Funcionários</p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i><p>Funcionamento</p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i><p>Segurança</p>
            </a>
        </li>
    </ul>
</li>