{% load custom_tags %}

<!-- Módulo Operações aéreas -->
<li class="nav-item module-item">
  <a href="#" class="nav-link">
    <i class="fas fa-rocket nav-icon"></i>
    <p>
      Operações Aéreas
      <i class="fas fa-angle-left right"></i>
    </p>
  </a>
  <ul class="nav nav-treeview" style="display: none;">

    <li class="nav-item">
      <a href="{% url 'rpa:painel' %}" class="nav-link">
        <i class="fas fa-circle nav-icon"></i>
        <p>Painel</p>
      </a>
    </li>

    {% comment %} <li class="nav-item">
      <a href="{% url 'rpa:dashboard_rpa' %}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Dashboard</p>
      </a>
    </li> {% endcomment %}
    
    {% if request.user|has_group:'profile:rpa_basic' or request.user|has_group:'profile:rpa_advanced'  %}
      <li class="nav-item">
        <a href="{% url 'rpa:police_group_form' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Início de serviço</p>
        </a>
      </li>
      <li class="nav-item ">
        <a href="{% url 'rpa:checklists' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Checklists</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'rpa:incidentes' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Incidentes</p>
        </a>
      </li>
    {% endif %}
    
    <li class="nav-item ">
      <a href="{% url 'rpa:risk_assessment_list' %}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Avalição de risco</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'rpa:principal' %}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Operações</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'rpa:relatorios' %}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Relatórios</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'rpa:legislations' %}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Legislação</p>
      </a>
    </li>

    {% if request.user|has_group:'profile:rpa_advanced' %}
      <li class="nav-item menu-item">
        <a href="#" class="nav-link">
          <i class="fa fa-cog nav-icon" aria-hidden="true"></i>
          <p>
            Configurações
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
          <li class="nav-item ">
            <a href="{% url 'rpa:aeronaves' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Aeronaves</p>
            </a>
          </li>
          <li class="nav-item ">
            <a href="{% url 'rpa:historico' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Histórico Aeronaves</p>
            </a>
          </li>
          <li class="nav-item ">
            <a href="{% url 'rpa:baterias' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Baterias</p>
            </a>
          </li>
        </ul>
      </li>
    {% endif %}
  </ul>
</li>

